[2015-01-22 14:27] kabtoffe opened #1 "Checkin when file not part of a list"
I tried editing a javascript resource file in an app web. Editing and saving worked fine but it fails on check in. Apparently check out was successful though and now I get an error about the file being checked out. The check in error text was something along the lines "file is not part of a list".
![js-error](https://cloud.githubusercontent.com/assets/10654778/5857313/6174973e-a253-11e4-9bc3-41d89

[2015-01-23 08:56] tavikukko commented on #1
Hi,
And thanks for using this tool. I have not tested this to edit files in appweb, but looks like its also working :) . You could try to select the "Don't auto checkout / checkin" and "Don't auto publish" options and try to save again. And yes, to check the "chekout status" before saving is a good idea. Thanks.

[2015-01-23 13:59] tavikukko commented on #1
Also, you always need to make a change in the file you are modifying, for example add some empty spaces. The tool will not save the file if there is no changes.

[2015-04-28 15:36] #1 closed

[2015-12-07 09:58] andrei-markeev opened #2 "Files are published even though "Publish a Major version on save" is unticked"
Hi,

Not sure if it is a bug or just a feature that requires a better description :)
This is my configuration (in SharePoint tab in devtools):

[x] "Update changes to SharePoint" --- ticked
[  ] "Publish a Major version on save" --- not ticked

But then, if the file is already published as major version, and I save it from devtools, it gets published again as major version!
My expectation was that

[2015-12-08 10:01] tavikukko commented on #2
Hi Andrei,
good catch, I need to look on this one.
Is the list configured to allow minor versions? Could you verify that?
Thanks

[2015-12-08 15:53] andrei-markeev commented on #2
Yes, it was.
It was just an ordinary Style Library actually. SP2013 onprem.
One of the files was checked out to me and it was correctly producing minor versions when saving via Chrome SP Editor. Other files I was lazy to check out and just started modifying them, and it turned out they produced major versions.

[2015-12-09 14:11] andrei-markeev commented on #2
just a random guess...

in the source code:
[code]
should it be the other way around? i.e. `if (this.publish) ..`?

https://github.com/tavikukko/Chrome-SP-Editor/blob/master/event.js#L95

[2015-12-09 21:12] tavikukko commented on #2
There was a bug, this.publish was always undefined. Now fixed and new release published to Chrome WebStore.

[2015-12-09 21:12] #2 closed

[2015-12-09 21:20] andrei-markeev commented on #2
Thanks :+1:

[2016-06-08 13:48] admiralman opened #3 "Wont work in personal sites"
Does not seem to be able to function correctly in personal sites within Sharepoint Online. Logged in with the same account I can drag and drop files into the Style Library. Otherwise, great tool.

https://shlp-my.sharepoint.com/personal/first_last_domain_com

[2016-06-09 07:43] tavikukko commented on #3
Hi,
seems to be that the front page of personal site (_layouts/15/onedrive.aspx) is something special. If you go to [https://shlp-my.sharepoint.com/personal/first_last_domain_com/_layouts/15/viewlsts.aspx](https://shlp-my.sharepoint.com/personal/first_last_domain_com/_layouts/15/viewlsts.aspx), the tool is working normally. But you cannot get the custom scripts / css files loaded in the front page

[2016-06-09 15:49] #3 closed

[2017-01-04 17:44] Gennady-G opened #4 "Cannot make a cache safe URL for " ~sitecollection/style library/folder1/folder2/jquery.min.js", file not found. Please verify that the file exists under the layouts directory."
Hi!

Maybe I have done something wrong, but it breaks my test site collection page

I used ~sitecollection alias and a space in "style library", maybe it is the mistake. However - how can I revert this change? I don't see this string neither in SPD **seattle.master** nor in **Home.aspx**

[code]

SP2013 with last CU(15.0.4875.1000), (maybe Publishing Features are On, cannot check now)

Tried to vi

[2017-01-05 10:05] Gennady-G commented on #4
Oh, my mistake. Closed.

I used get_web() instead of get_site()..

Used this code to remove broken scriplinks, thanks to Vadim Gremyachev post
http://sharepoint.stackexchange.com/questions/164745/unable-to-unregister-usercustomactions-added-at-location-scriptlink-using-csom:

[code]

[2017-01-05 20:16] tavikukko commented on #4
Hi, so you created scriptlink that broke your sitecollection? And you could not remove it from SP Editor extension?

[2017-01-06 09:22] Gennady-G commented on #4
Hi! Yes, I got an exception on all site pages and empty screen on Application pages.

Yes, I didn't find how to remove it. Maybe I have not read documentation carefully and You allow to do it, I haven't realize..

 I used code to remove it, now problem is resolved

[2017-01-07 18:36] tavikukko commented on #4
Ok, good. The problem occurs when the MakeBrowserCacheSafeLayoutsUrl fails, then the entire page is broken. If the customaction scope was sitecollection, then the entire sitecollection will get this error. Chrome SP Editor needs _spPageContextInfo from the page and when this error ocurrs, the info in not in the page and it cannot remove the broken customaction. Maybe I could add validation of the

[2017-01-07 18:36] #4 closed

[2017-01-09 12:06] Gennady-G commented on #4
Hi **tavikukko**!
Good idea! And thank You too! :)

Best regards,
Gennady

[2017-03-05 23:31] Ofer-Gal opened #5 "pnp.js complains"
I am using the PNP JS Core in my code
When I hit contrl S it show the following error in the console, and does not save.
http://sp16.gal.home/Clients/C3Test1/Knowledge/_api/site/rootweb/getFolderByServerRelativeUrl('/clients/c3test1/knowledge/siteassets')/files('kimaker.js') 404 (not found)

I checked wit postman, the url does show 404 but the file I edited was in the 'SiteAssets' library

[2017-03-06 10:43] tavikukko commented on #5
@Ofer-Gal  can you access the file in browser? http://sp16.gal.home/clients/c3test1/knowledge/siteassets/kimaker.js
how do you inject that file to page?

[2017-03-06 13:22] Ofer-Gal commented on #5
I can and it is checked out to me.

On Mon, Mar 6, 2017 at 4:44 AM, Tomi Tavela <notifications@github.com>
wrote:

--
Ofer Gal

---------------------------------------------------------------------
לפני הפצת שרשרת, נא מחקו את שמי וכתובתי מהדוא"ל,
 כדי שהפרטים לא יגיעו לחורשי מרעין בישין ברחבי האינטרנט

[2017-03-06 13:40] tavikukko commented on #5
And if you open this in **browser** you get 404?
http://sp16.gal.home/Clients/C3Test1/Knowledge/_api/site/rootweb/getFolderByServerRelativeUrl('/clients/c3test1/knowledge/siteassets')/files('kimaker.js')

it should return some json/xml.

[2017-03-06 13:58] Ofer-Gal commented on #5
<m:error xmlns:m="
http://schemas.microsoft.com/ado/2007/08/dataservices/metadata">
<m:code>-2147024894, System.IO.FileNotFoundException</m:code>
<m:message xml:lang="en-US">File Not Found.</m:message>
</m:error>

On Mon, Mar 6, 2017 at 7:40 AM, Tomi Tavela <notifications@github.com>
wrote:

--
Ofer Gal

---------------------------------------------------------------------
לפני הפצת שרשרת, נא מחקו

[2017-03-06 14:44] tavikukko commented on #5
Does not make any sense to me.
Does the file have any published versions? or have you renamed it?

[2017-03-06 20:27] Ofer-Gal commented on #5
I made many versions so maybe I should start with a clean .JS file just to
see how the Save To sharePoint works.
I assume the file needs to be checked out to me before it can be saved by
anything.

Thank you much for the effort.

On Mon, Mar 6, 2017 at 8:44 AM, Tomi Tavela <notifications@github.com>
wrote:

--
Ofer Gal

---------------------------------------------------------------------
לפני הפצ

[2017-03-08 14:41] Ofer-Gal commented on #5
I tried some variations on the URI the REST call your save makes and with some changes, it works fine.
This leads me to believe that if I place my files in the same configuration you do, It will work.
So can you tell me? in a site collection URL {Server}/{path}/{sc root} where do you usually have your page, and the js files? If I will do the same, I may have it working.
Also, do you use PNP js cor

[2017-03-08 16:54] tavikukko commented on #5
yes, SP Editor uses pnp-js-core.
So usually I place my JS files in spserver/sites/style library/ and inject them to whole sitecollection using custom actions. But it works as well from siteassets library.
To inject js file site/sitecollection level, you can use SP Editor to do that too.

If you tell me more details of your setup (how you include the js file in a page, how do you add the page, whic

[2017-03-08 17:38] andrei-markeev commented on #5
@tavikukko I think you introduced some sort of bug when implementation changed to pnp-js-core. I noticed that I no longer can save files in a SharePoint App web. Before, I was able to do it easily, the only extra step was to create _spPageContextInfo with 1 property, but after that change I had really hard time because it was picking base URL for REST query incorrectly.

I remember that when final

[2017-03-08 17:40] andrei-markeev commented on #5
I'm pretty sure that if you roll back to the version before pnp-js-core, it will work 😏

[2017-03-08 17:44] tavikukko commented on #5
thanks @andrei-markeev, I will have a look.

[2017-03-08 18:25] tavikukko commented on #5
Ok, I got it. I think Im able to solve this with pnp-js-core. I think its the problem what @Ofer-Gal is facing.

[2017-03-08 19:39] Ofer-Gal commented on #5
Glad I am not the only poor guy :-)
I prefer to put HTML content in a script editor and in id have a <script src="the relative or full Uri to the js files"
That way we can have script running from many site collections (we have lots) to one "CDN" location
The test I ran, have the JS file in in the current "siteAssets" but from what andrei-markeev is saying, it may be my problem because my HTML has

[2017-03-08 19:39] #5 closed

[2017-03-08 20:08] tavikukko commented on #5
@Ofer-Gal @andrei-markeev just released 1.4 version of the SP Editor, it will be available within 60 minutes. It should update automatically.
Now its possible to save files linked  from another web and from another site collection. Thanks for raising the issue.

[2017-03-08 20:30] jdtoth opened #6 "Using quotes breaks link removal"
Love this extension! I really wanted to use it to bust the SPO cache, so I threw in some JS code ... It works, but it appears to break the **removal** of that specific script link.

Example:

~sitecollection/webparts/custom.css?v='+Date.now()+'

[2017-03-08 20:39] tavikukko commented on #6
Does that work in the page? Interesting. I just fixed some bugs and released 1.4 version of the tool. I will have a look on this.

[2017-03-08 20:42] tavikukko commented on #6
ok, just tested and I was able to remove it.
added:
~sitecollection/webparts/custom.css?v='+Date.now()+'
and it removed correctly. Can you try again?

[2017-03-08 20:50] tavikukko commented on #6
@jdtoth update the extension to 1.4 version and try again. Or then there might be something else in your page breaking it.

[2017-03-08 21:46] jdtoth commented on #6
I stand corrected - I was running 1.4 w/ disabled cache already but now that I've signed out/in again the links show up. Again, thanks.

I think we just found a GREAT, previously undocumented feature!

[2017-03-08 21:46] #6 closed

[2017-03-08 22:02] jdtoth commented on #6
Just realized this creates a static string, so it won't work to bust the cache. Any way around this using your extension?

[2017-03-08 22:12] Ofer-Gal commented on #5
You guys rock! 1.4 works like a charm!

[2017-03-09 07:24] tavikukko commented on #6
When do you have problem with the cache? When developing / editing files, and when you refresh the page you still get old version?
When using chrome developer tools, you can disable the cache, heres instructions for that https://github.com/tavikukko/Chrome-SP-Editor#disable-chrome-developer-tools-cache

If you just want to bust the cache when you are done with the editing, then just delete the scr

[2017-03-16 10:09] ytterstrom opened #7 "Cannot get PnP Js console to work"
I cannot get PnP JS console to work. Try to execute the default script, but the console shows "Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0". Am I missing something?

[2017-03-16 11:06] tavikukko commented on #7
@ytterstrom are you logged in to SharePoint in you browser and viewing SharePoint page?

[2017-03-16 11:31] ytterstrom commented on #7
Yes that is correct. SP2013.
![skarmklipp](https://cloud.githubusercontent.com/assets/18529706/23994259/67f9a3e6-0a44-11e7-891a-dbc0d10cadf9.PNG)

[2017-03-16 11:42] tavikukko commented on #7
Ok, I will test in SP2013/SP2016 if i can reproduce.

[2017-03-16 11:53] ytterstrom commented on #7
Tried on Office 365 site, and there it works as expected. Let me know if I can assist with something.

[2017-03-16 12:20] tavikukko commented on #7
Just tested in SP2016 publishing site and it works ok. Is that page/site customised? custom masterpage? is that teams site? Can you provide more information. Could it be that running scripts are not allowed in that site?

[2017-03-16 12:29] tavikukko commented on #7
Also works in SP2016 team site, just tested.

[2017-03-16 12:38] ytterstrom commented on #7
It is a SP2013 teamsite. No custom masterpage. Scripts is allowed (have for example Jquery included as Custom action). I think I found a solution. If I add a script the following script it works:
deferPnP(function () {
            $pnp.setup({
                headers: {
                    "Accept": "application/json; odata=verbose"
                }
            });

[2017-03-16 12:49] tavikukko commented on #7
Ok. So you were trying to execute the default script provided by PnP JS Console and got the error? Then you changed the header to odata=verbose and it works?

[2017-03-16 12:54] ytterstrom commented on #7
Yep, This is what I executed in order to get it to work:
import pnp from "pnp";
deferPnP(function () {
            pnp.setup({
                headers: {
                    "Accept": "application/json; odata=verbose"
                }
            });
  });
pnp.sp.web.lists.select("Title").get().then(result => {
	// gets all list titles from current web and writes them to console
	// hit 'ctrl + d

[2017-03-16 13:01] ytterstrom commented on #7
By the way, can I see the javascript the Typescript in PnP JS Console is generating?

[2017-03-16 13:03] tavikukko commented on #7
ok, thanks @ytterstrom! I think we are fine if i just add some guidance how to change the headers in case of error in on-premises. Thanks for working with issue! I will close the issue if you fine with the guidance?

Yes, you can see the javascript, you can click the link similar to this "VM693:25" in the chrome console output, on the right side.

[2017-03-16 13:05] ytterstrom commented on #7
That sounds great! Thanks for a really nice extension that saves a ton of work

[2017-03-16 13:12] #7 closed

[2017-04-28 08:15] ytterstrom opened #14 "Problem adding scriptlink with external script"
I am trying to add a scriptlink with an external script for example https://code.jquery.com/jquery-3.2.1.min.js but the site refuses to load. SharePoint 2013.

[2017-04-28 08:40] koltyakov commented on #14
Hi @ytterstrom,

This a SharePoint by design limitation.
ScriptLink user custom actions can't use external scripts.
In the case of necessity appending CDN/external stuff, it should be a local js which appends external scripts into the DOM.

[2017-04-28 09:57] tavikukko commented on #14
@ytterstrom thanks for reporting this. @koltyakov is correct, its a limitation in SharePoint, but actually in o365 you can inject files from CDN, so this will happen in on-premise version of SharePoint. @ytterstrom did your page/site/web get broken and was it possible to recover using SP Editor by removing the scriptlink?

[2017-04-28 12:06] ytterstrom commented on #14
The text "external css and js files must use absolute url." under scriptlinks give you the impression that you could link external scripts. I tried linking a script from another SharePoint sitecollection, but that did not work either. This is working when I add the custom action with the pnp provisioning engine, here is a example (the link is in another site collection):
<pnp:CustomAction Name="{f

[2017-04-28 12:17] tavikukko commented on #14
@ytterstrom thanks! so, would you recommend that it would be clever to check if we are in on-premise, and then inject the file using javascript IF its external file? The problem with those files is that its pretty hard to know when the file is actually loaded when using this technique. I faced this issue and i removed this possibility from the tool cos it was causing loading issues.

[2017-04-28 12:17] tavikukko commented on #14
but yes, the text "external css and js files must use absolute url." is miss leading, will correct that for the next release.

[2017-04-28 12:30] ytterstrom commented on #14
I tried to looked at the implementation of UserCustomActions.add in pnp.core.js. In my opinion it would work if I could specify the Payload.Scriptblock. I am not quite following you when you say "it is pretty hard to know when the file is actually loaded". Do you mean regarding to the script sequence? Because even though I have jQuery in the style library with an earlier sequence than the script t

[2017-04-28 12:39] tavikukko commented on #14
ok, if you add file which resides in sharepoint libaray with sequence 1100, and then you link another file using that **pnp style** with sequence 1000. When you load the page, you can check from chrome dev tool **network** tab, that the page will load the file from sharepoint earlier than the external file, no matter the sequence. This is my only consern.

[2017-04-28 13:04] ytterstrom commented on #14
Yeah, I agree that I could be a problem. But as I mentioned earlier, I think it is a good practice to check that libraries/functions has been loaded before you call them.

[2017-04-28 13:13] ytterstrom commented on #14
FYI I used the excellent PnP Js console and embedded the script the following way:
import pnp from "pnp";
pnp.setup({
    headers: {
        "Accept": "application/json;odata=verbose",
    }
});
var payload = {};
  payload.Location = 'ScriptLink';
  payload.Sequence = "0";
  payload.ScriptBlock = "var headID = document.getElementsByTagName('head')[0];	var	newScript = document.createElement('script

[2017-05-24 07:39] tavikukko commented on #14
@ytterstrom & @koltyakov , I added support for external JS files for on-premises. Its done by using ScriptBlock. Published v2.1.2 version now available in chrome webstore. Will close this now. Thanks for reporting and working with this one. Let me know If you encounter any other issues.

[2017-05-24 07:39] #14 closed

[2017-05-24 08:36] koltyakov commented on #14
Thanks @tavikukko

[2017-08-23 08:06] jpalo opened #18 "External scriptlinks translated to lowercase"
Hi,
When adding external scriptlinks, the actual URL from which the file is fetched is translated to lower case at some point, making external scriptlinks not working whenever CDN enforces case sensitive file names.

E.g., https://cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.12/jstorage.min.js becomes https://cdnjs.cloudflare.com/ajax/libs/jstorage/0.4.12/jstorage.min.js, and file isn't loaded as C

[2017-08-23 09:10] tavikukko commented on #18
Hi @jpalo !
interesting... I will have a look on this. Thanks for reporting!

[2017-08-23 09:17] tavikukko commented on #18
ok,
this is really interesting... if you reference local file "~sitecollection/Style library/testing.js" it will keep the format... if referencing from CDN it will make it lowercase..

[2017-08-23 09:35] tavikukko commented on #18
So @jpalo, it seems to be that the customaction holds the format correctly but the SharePoint Control that renders the the link makes it lowercase... so there is not really anything to do..ideas?. If you want you can also create customaction using scriptblock property, then the format of the url will be kept. Its easy with PnP JS Console.

[2017-08-23 09:39] tavikukko commented on #18
btw, I was wrong, all scriplinks will be lowercase, no matter if loaded from cdn or local file.

[2017-08-23 10:39] tavikukko commented on #18
so @jpalo I will close this as it's not Issue with SP Editor, more related to SharePoint. You might need to change CloudFlare to another CDN provider.

[2017-08-23 10:39] #18 closed

[2017-09-15 08:01] tavikukko opened #19 "Chrome caching content even when "disable cache" is selected"
Chrome caching content even when "disable cache" is selected
----
When you update a JS file which is injected to the page, the file gets updated but when refreshing the page, it still loads the old content.

Started to experience this 15. September, maybe bug in chrome.
**Quick workaround for now**: Use FireFox to view (hitting F5) the page and chrome to edit the file.

All comments, ideas, experi

[2017-10-12 09:34] seaSide974 opened #20 "Script link remains here, cant be deleted because they are not visible (SP2013)"
hi,

Thanks for the use ful extension
I added a script link, then i cant see it in the list of web scripts links, due to some bug i believe ?
I deleted the extension from chrome, though the script link is still here.
How to uninstall it ? Thank you

[2017-10-12 10:37] koltyakov commented on #20
Hey @seaSide974,

You can use PnP JS Console (a part of SP Editor toolsets) for this and run:

[code]

Then check for a script link user custom action in an array of custom actions, take its Id prop and delete the thing with:

[code]

Cheers!

[2017-10-12 11:42] seaSide974 commented on #20
oh great thx, stupid newbie question,how do you execute from the pnp js console ? Cant find a button run :) ?

[2017-10-12 11:48] koltyakov commented on #20
Ctrl+D - there is a hint about the combination when opening a console:
![image](https://user-images.githubusercontent.com/7816483/31494560-74751e80-af5c-11e7-81ae-82ec2636d8b9.png)

[2017-10-12 12:03] seaSide974 commented on #20
Its not working for me

[2017-10-12 12:04] seaSide974 commented on #20
for the code :
import pnp from "pnp";
pnp.sp.web.userCustomActions.get().then(console.log);

[2017-10-12 12:07] koltyakov commented on #20
If you're using SharePoint 2013 On-Prem Accept headers should be defined strictly:

[code]

[2017-10-12 12:20] seaSide974 commented on #20
that works better thanks :)
When i run pnp.sp.web.userCustomActions.getById('61db46e9-c27c-42a8-aec9-7a7373176785').delete().then(console.log);

it return null, and i still see it in the list,
nevermind this is a dev environment, no big deal. Good to know i can use pnp in future directly from here for sp2013

thx again

[2017-10-12 12:44] ytterstrom commented on #20
I just tested on my SharePoint 2013 environment and I can delete customactions just fine. So if you run
        pnp.sp.web.userCustomActions.get().then(actions => {
            console.log(actions);
        });
you see your custom action? And then you try to use the Id in pnp.sp.web.userCustomActions.getById('IdToDelete').delete();? For useractions on sitecollection you should use pnp.sp.site.user

[2017-10-12 19:29] tavikukko commented on #20
Hi, missed the conversation here totally, but thanks @koltyakov  and @ytterstrom for backing me up! Im still thinking why @seaSide974 could not delete the CustomAction, in Scriptlinks nor in PnP JS Console. @seaSide974 can you share screenshot, log or the link what you tried to delete? Thanks for reporting this!

[2017-10-13 13:00] seaSide974 commented on #20
i ran the following as advice and to cover site and web scenario and it works :) thanks
Though i still cant see it in the scriptlinks menu. The environment cant be access by windows explorer, i guess some ports are blocked and thats why scriptlinks are not showing (pnp shows me 7 of them)

thanks for your help :)

import pnp from "pnp";
pnp.setup({
  sp: {
    headers: {
      Accept: 'application

[2017-10-13 13:10] seaSide974 commented on #20
there is no log showing or error for the scriptlinks menu, do you want me to check something else ? If not we can close the issue as i have a workaround :)

[2017-10-15 02:11] tavikukko commented on #20
So, You used SP Editor to attach the link, but you never saw the link in the editor, but it was injected anyways, if i understood correctly? What I would like to know is, the format of the link you added. SP Editor can only handle links, no other formats, only url links.

[2017-10-15 08:25] seaSide974 commented on #20
Hi, that is correct.
I have added ~sitecollection/style library/my.js on the web and site coll level
Since i thought it was not working i also added http://mysite/style library/my.js

[2017-10-17 06:12] tavikukko commented on #20
Link seems to be ok, you having custom masterpage?

[2017-10-17 06:25] seaSide974 commented on #20
No, ootb master page, sp2013.
But some port are blocked (Impossible to use sp designer for example) so maybe it is due to that ?

[2017-10-17 06:34] tavikukko commented on #20
Its just javascript, so it should be fine, no ports should block SP rest calls, like you described earlier, the links get injected but SP editor does not show them? If there are errors, you should see errors in Chrome console if any. Could you check?

[2017-10-17 07:04] seaSide974 commented on #20
I don't get any error, you want to teamviewer my computer ?

[2017-10-17 14:02] ytterstrom commented on #20
I think I found the problem. PnP js 3.0 introduced a different way of assigning request headers which is necessary for SP 2013. I created a pull request with the fixes (I hope I done it the right way).

[2017-10-17 20:36] tavikukko commented on #20
Thanks @ytterstrom, great work! Im travelling at the moment, but will review and merge when back. Loog good at first sight and it makes sense.

[2017-10-18 06:06] seaSide974 commented on #20
Cool :) cant wait to test !

[2017-10-19 01:54] tavikukko commented on #20
New release in chrome store, v2.4.4. @seaSide974 could you test in SP2013 and verify. Thanks.

[2017-10-19 08:48] seaSide974 commented on #20
![image 3 pnp](https://user-images.githubusercontent.com/6776269/31762253-f620b986-b4ba-11e7-9b4f-09a057e6aa7d.png)

I am sorry to announce you that we will close this issue and stop talking to each other (about this issue =) ) since it is working

Thank you !

[2017-10-19 09:16] koltyakov commented on #20
Oh no! We'll be missing each other, friends! Until next interesting topic starter issue. =)

[2017-10-19 12:28] bjdekker commented on #20
First of all thanks for this great Chrome extension! I noticed that since today I get an error that seems to be related to this issue and release 2.44 in SharePoint Online. When I click on the File editor in SharePoint Online I get the following error:
![image](https://user-images.githubusercontent.com/12426259/31770728-80c21544-b4d9-11e7-8ace-7fb2a6f9ca0a.png)
When I revert back to 2.4.3 everythi

[2017-10-19 13:22] tavikukko commented on #20
Yep, thanks @bjdekker for reporting. Will fix it right away, sorry about that. Should never code while travelling.

[2017-10-19 13:32] ytterstrom commented on #20
Can confirm. If I remove $pnp.setup... alltogether from getFolders(), it works as expected in SharePoint-online. But no go for SP2013 in that case.

[2017-10-19 14:29] tavikukko commented on #20
New release in chrome store, v2.4.5.

[2017-10-20 07:19] seaSide974 commented on #20
We have a workaround for SP2013, using PNP commands... so up to you guys :)

[2017-10-21 04:57] tavikukko commented on #20
@bjdekker all should be good now, could you verify? @ytterstrom & @seaSide974 could you verify SP2013 that everything works as expected? Thanks!!

[2017-10-23 07:10] bjdekker commented on #20
hi! just tested several scenarios and everything works as expected. Thanks!

[2017-10-23 07:35] seaSide974 commented on #20
Script links are still visible on SP2013 @tavikukko  +1

[2017-10-24 05:13] tavikukko commented on #20
Great, will close this then. **Big thanks for everyone** working with this issue, really appreciated! Now, I will focus on the next release, with new feature related to Microsoft Graph.

[2017-10-24 05:13] #20 closed

[2017-10-24 05:57] seaSide974 commented on #20
Great keep on the good work.  Thanks everybody

[2017-10-27 10:39] tavikukko commented on #19
seems to be ok now, probably some sort of out-take in SPO frontend caching.

[2017-10-27 10:39] #19 closed

[2017-11-30 08:47] johannes-z opened #23 "Endless loading state after saving in file editor"
When I edit a file with the file editor and save it, it sometimes happens that the loading state never ends, but still saves the file. You then have to reopen the console, re-enable the update/save as major options and browse back to the file in the file editor which can be annoying if that happens to often. It might be that this happens if you have more than one console / SP.Editor window open, b

[2017-11-30 09:46] Gennady-G commented on #23
+1.
Yes, it sometimes hangs on .Saving..', and I reopen DevTools. imho it occurs if I have DevTools opened on few pages..

[2017-11-30 09:51] Gennady-G commented on #23
Even more, imho it is good idea to be able to access files from subsites (in my case I store sources in /portal/Style Library/, but test webparts on /portal/subsite/). So I need to use mappings or open another tab to quick change source in Style Lib (mappings do not work for *.html files)

[2017-11-30 12:21] tavikukko commented on #23
Hi @johannes-z and thanks for reporting this. I have seen also this behaviour and think the problem is indeed the multiple consoles/sp-editor opened in another tabs. Let's see if there is something to fix this problem.
About saving the state of each site can be challenging. Maybe it could be possible to expand subsites also as @Gennady-G was suggesting.
Than

[2017-11-30 16:10] Gennady-G commented on #23
Thank You for response **tavikukko**!
I can create separate ticket, if needed)

Best regards,
Gennady

[2017-11-30 17:26] tavikukko commented on #23
no worries @Gennady-G I think it's a good idea, If it's performs well I will try to add that functionality. The issue mentioned by @johannes-z seems to be quite easy fix, hope to release it soon. Thanks guys!

[2017-11-30 19:56] tavikukko commented on #23
New version in Chrome WebStore, Version 3.2.1.

[2017-11-30 19:56] #23 closed

[2017-11-30 22:09] johannes-z opened #24 "Endless loading state when opening "Modern Properties" on non-SP website"
If you open a new tab, open the console and go to "Modern Properties" in the SP.Editor extension, you'll get an endless loading state. Of course it doesn't make much sense to do that on a non-SP website, but it shouldn't bug out either :)

[2017-11-30 22:58] tavikukko commented on #24
thanks @johannes-z you are right with that.. Lets see if something could be done.

[2017-12-01 08:50] tavikukko commented on #23
@Gennady-G support for subsite browsing and reorganized save buttons, hope this helps. Latest version release, v3.3. Cheers!

[2017-12-01 12:35] seaSide974 opened #25 "[Really minor issue] Missing Instruction"
hi guys !
Been using your app more and more recently :) i see that there is a new instruction panel which guide us better ! thanks for that

there is a missing code i think for that ?

Have a great day 👍

"PnP JS Console
Write TypeScript using PnP-JS-Core definitions and execute on current context
ctrl + d to execute
for sp2013 change the headers of the request:"

[2017-12-01 12:48] tavikukko commented on #25
Yes @seaSide974 thats new panel in SP Editor.  The idea is that I will try to add more detailed instructions in the future. In that PnP JS Console instructions, the headers settings are missing, will update in next release, cheers!

[2017-12-01 12:59] #25 closed

[2017-12-01 12:59] seaSide974 commented on #25
Great ! keep the good work :) getting more colleagues using it !

[2017-12-01 17:20] Gennady-G commented on #23
Thank You much @tavikukko ! :)

[2017-12-05 08:25] ytterstrom opened #26 "Not an issue, just want som guiding"
Hi!
I really love your extension and use it almost daily in my projects, and I would really like to contribute more. I have some questions, about the best way to develop and debug the code. Previously I have been using VS Code, and the "debugger for chrome"-extension. But if I open the debug tools in Chrome, where your extension reside, VS code detach its debugger. How is your setup? How do you de

[2017-12-05 09:11] tavikukko commented on #26
Hi @ytterstrom !
Im not using vscode for debuging, but that would be nice.
So what I do is the following:
- Clone the project
- Open chrome extensions tab and "load unpacked extension..." and select the project folder
- Open SP site and hit F12 to open the devtools and SharePoint tab
- Detach the devtools from the browser
- Hit "Ctrl + Shift + I" to open the devtool of the extension :)
- Now you w

[2017-12-05 10:26] ytterstrom commented on #26
Thanks for info. I got it working. I am closing the issue

[2017-12-05 10:26] #26 closed

[2017-12-05 20:44] afwilliams opened #27 "Error in the file editor"
Erro in the file editor.

![image](https://user-images.githubusercontent.com/791622/33629294-8159cbba-d9d1-11e7-9c74-e25270c5e5cb.png)

![image](https://user-images.githubusercontent.com/791622/33629734-1ee3c2ae-d9d3-11e7-803b-58f9b1f6882a.png)

[2017-12-05 21:45] tavikukko commented on #27
ok, got it, seems to be on-premise (2016?) and the reason is that _spPageContextInfo does not have WebId property.

[2017-12-05 22:54] tavikukko commented on #27
Fixed, new Version 3.3.1 on chrome web store. Thanks @afwilliams for reporting.

[2017-12-05 22:54] #27 closed

[2017-12-06 15:44] Gennady-G opened #28 "Show root web folders, if "File Editor" clicked on subsite"
Hi @tavikukko !

Subsites tree is cool, but can You show it if SP-Editor is opened in subsite context?

For example if I open Editor on site-collection level I see StyleLibrary. Then I can navigate to http://devportal/dev subsite and it is still accessible.

![2017-12-06_173507](https://user-images.githubusercontent.com/5569346/33669873-4013e600-daac-11e7-9384-6824285bcbf2.png)

But if I click Fil

[2017-12-06 15:50] afwilliams commented on #27
Hi, I'm sorry no to answer before, the version is SharePoint 2013

[2017-12-06 17:58] tavikukko commented on #28
Hi @Gennady-G,
I think I get your point here. The thing is, if you open sp-editor and click file-editor, you will see the folders, files and webs of that web. Now, if you browse to a subweb, sp-editor will have wrong context. You should click file-editor from the left menu to catch the new context. So you will never see the parent web folders/files/webs of the current context.
So you are suggestin

[2017-12-06 18:29] Gennady-G commented on #28
Greetings @tavikukko !

Yes, something like this. This is because I always place my html/js/css sources in 'Style Library', but link them as Content Query Webparts _on subsites_. I connect sources with local folder, and update using Your extension(when I save local file, SP-Editor updates file in SP library):

![2017-12-06_201515](https://user-images.githubusercontent.com/5569346/33678008-44696830

[2017-12-06 19:37] tavikukko commented on #28
In chrome extensions, there is event to track browser events and [webNavigation.onClompete](https://developer.chrome.com/extensions/webNavigation#event-onCompleted) would be the one to be used in this case. So I think it could be doable, but would break then the basic logic of the application, which is, to stay in the current web/page context.
About .html files, as I can see from your picture, the

[2017-12-06 22:09] afwilliams commented on #27
Excelent, it work! :-)

[2017-12-08 19:03] Gennady-G commented on #28
Hi @tavikukko !

No, please don't worry about it!

Yes exactly. html does not sync and I use Your editor.

p.s.: haven't You made any changes today? Noticed that file does not sync every time I hit 'Save' in vsCode.. I will test later and add details. Not sure, it could be my local chrome/vscode bug..

[2017-12-08 19:28] tavikukko commented on #28
No changes since December 5, 2017.
If you find any problem, just create new issue with details and I will have a look.
Will close this for now.

Thanks @Gennady-G!

[2017-12-08 19:28] #28 closed

[2017-12-08 21:38] Gennady-G commented on #28
Thank You much **tavikuko**! :)

[2017-12-11 10:39] johannes-z opened #29 "File editor options"
I'm not sure if this is possible with the integrated file editor, but it would be nice if there were some basic options, like using spaces instead of tabs, default indentation etc.

[2017-12-14 18:25] tavikukko commented on #29
Thanks @johannes-z,
monaco-editor has [settings](https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.ieditorconstructionoptions.html) and with these you can give default options for the editor. I think there is no space in the DevTools limited area for the editing the settings and those would be always set to default when you close the extension. But if you have suggestion for b

[2017-12-14 18:25] #29 closed

[2017-12-18 14:17] Gennady-G opened #30 ""Workspaces 2.0" from Chrome v.63: *.js modified in external editor does not update"
Greetings @tavikukko !

![2017-12-18_163324](https://user-images.githubusercontent.com/5569346/34110990-f9686da2-e410-11e7-9b66-6e4c07598c0f.png)

![2017-12-18_160414](https://user-images.githubusercontent.com/5569346/34110211-a2f2fc96-e40e-11e7-8865-e6dc8a17332a.png)

Looks like something was updated from Chrome Dev Tools side, please note "Filesystem" tab. Now js source is updated only if I hit

[2017-12-18 14:36] tavikukko commented on #30
Thanks @Gennady-G, I will have a look later today.

[2017-12-18 17:40] tavikukko commented on #30
This is not cool, they have changed the way the API reacts to changes in localmodications... any ideas anybody? Its no longer triggering the [onResourceContentCommitted](https://developers.chrome.com/extensions/devtools_inspectedWindow#event-onResourceContentCommitted) thou the file is updated in the sources pane..

[2017-12-18 18:01] Gennady-G commented on #30
// offtop:
Weeeird...

[2017-12-18 19:36] tavikukko commented on #30
ok, I hope its a bug in Chrome. Seems that the mapping to local resource does not work.
[chromium bugs](https://bugs.chromium.org/p/chromium/issues/list?can=2&q=Workspace&colspec=ID+Pri+M+Stars+ReleaseBlock+Component+Status+Owner+Summary+OS+Modified&x=m&y=releaseblock&cells=ids)

[2017-12-18 20:15] tavikukko commented on #30
wiiierd, i just got it working.. and then it didn't work anymore.. and I do not have any idea what i did 🗡 I will keep on digging..

[2017-12-18 20:24] Gennady-G commented on #30
Well it still works if edit and save direct in "Sources" tab.. Maybe You saved there?..

Voted for bug. Hope they will fix it, it should be something with their "Workspaces"

[2017-12-18 20:29] Gennady-G commented on #30
..WORKS!?))

[2017-12-18 20:29] tavikukko commented on #30
I got it working again :) in both, sources and from vs code. But again, cannot reproduce. The thing is, when you see "green ball" next to the file icon, the mapping is correct and then everything work as it should.

[2017-12-18 20:30] Gennady-G commented on #30
Yes, green bal is something new, haven't seen it before:

![2017-12-18_223108](https://user-images.githubusercontent.com/5569346/34126667-10496666-e443-11e7-9c4f-c4589b89b1da.png)

Great news! :)

[2017-12-18 20:33] tavikukko commented on #30
well, if you see that, it should work now. how do you get that green thing?

[2017-12-18 20:40] Gennady-G commented on #30
Don't know :)

Maybe they are changing something right now?..
js works, but I still can't get same green ball for css

[2017-12-18 20:43] tavikukko commented on #30
whats your chrome version, I got:
Version 63.0.3239.108 (Official Build) (64-bit)
And I cant get that mapping working, no "green balls"..

[2017-12-18 20:50] Gennady-G commented on #30
Same
63.0.3239.108 (Official, 64bit)

Same for me. I played with Devtools-> 'Sources' settings, now I can't get green ball even for js file..

![2017-12-18_225008](https://user-images.githubusercontent.com/5569346/34127431-cc713786-e445-11e7-8704-f2d3ce4fb0e7.png)

Think we need to wait, maybe it is DevTools bug..

Thank You much @tavikukko !

[2017-12-18 21:48] pkreipke commented on #30
Hmm, I'm not able to save but I don't even see any trace of the attempt in the console. So maybe only slightly related.

I'm on Mac and I'm wondering if it's a key mapping problem: Ctrl-D also doesn't execute the PnP sample - instead it functions like a backspace keypress.

[2017-12-18 21:50] tavikukko commented on #30
@pkreipke try Cmd-D if you are on macOs

[2017-12-18 22:20] pkreipke commented on #30
Nothing in console, no change to file in SP.

Note: SP is 2013 on-premise.

[2017-12-18 22:39] pkreipke commented on #30
Chrome Dev tools shortcuts - I see Command+D in use but no Ctrl-D.

https://developers.google.com/web/tools/chrome-devtools/shortcuts

I'm eager to try your extension - how can I help debug?

[2017-12-18 22:54] pkreipke commented on #30
I'm an idiot:
- Command+S saved to SP from sp-editor
- Command+D ran the PnP snippet!

Per

[2017-12-19 18:22] tavikukko commented on #30
@Gennady-G ok, I got it working :) finally! So, the file have to match (local and remote) with the content AND when you have opened the file in sources tab, hit Refresh (F5), then it will get the green dot and the save work again. But if the files are not in sync, then it will map it. Could you test? Thanks.

[2017-12-19 20:49] Gennady-G commented on #30
Hi @tavikukko !

I've tried briefly, but cannot get this green ball hitting f5.. Think I used f5 in previous version too, it "catches" file after refresh

I tried earlier today, using folders with no spaces (I put sources in "_catalogs" istead of "Style%20Library"), but no luck. I'll continue tomorrow.

upd.: There are a lot of bugs about mappings, look: [chromium bugs](https://bugs.chromium.org/p

[2017-12-23 00:00] pkreipke opened #32 "Path arg to fetch() contains extra "/Web"..."
Going into 'File Editor' on root site. Clicking on any folder like "_catalogs" results in a 404 in the JS console for this fetch():

https://hostname/Web/_api/web/getFolderByServerRelativeUrl('/_catalogs')?$expand=Folders,%20Files

If I try the API call without "/Web" (which matches my code's API calls) then the fetch succeeds.

Same thing happens if I'm in a subsite.

P

[2017-12-23 15:58] tavikukko commented on #32
Thanks @pkreipke  for reporting.
Which environment you are (online/sp2013/so2016)? Could you provide exact error message you are getting in console, that would help also to find the bug.
Thanks.

[2017-12-23 16:04] pkreipke commented on #32
On-premise SP 2013. Attached console log of success, then three message from failure which I think are driven by the 404.

[AQC-1514044800631.log](https://github.com/tavikukko/Chrome-SP-Editor/files/1584246/AQC-1514044800631.log)

[2017-12-23 16:30] tavikukko commented on #32
Just tested File Editor and PnP JS Console on SP2013 root site collection (http://intranet.sp.test/), the executed rest query http://intranet.sp.test/_api/web/getFolderByServerRelativeUrl('/_catalogs')?$expand=Folders,%20Files --> works ok.

[2017-12-23 16:54] tavikukko commented on #30
@Gennady-G any update on this? I can successfully update from VS Code using SP Editor. Chrome will now automatically bind the files if the filename AND content matches.

[2017-12-23 16:59] tavikukko commented on #32
@pkreipke also from sub web it works http://intranet.sp.test/mysubweb/_api/web/getFolderByServerRelativeUrl('/mysubweb/_catalogs')?$expand=Folders,%20Files --> works ok. I don't think this is something to do with SP Editor, might be your environment?

[2017-12-23 17:01] tavikukko commented on #32
oh, I think your rest call is build wrong, https://hostname/Web/_api/web/getFolderByServerRelativeUrl('/_catalogs')?$expand=Folders,%20Files should be https://hostname/Web/_api/web/getFolderByServerRelativeUrl('/Web/_catalogs')?$expand=Folders,%20Files

[2017-12-23 23:11] pkreipke commented on #32
Yep, that's the issue. Note that in the console log I posted I included at the top a GET that worked correctly. Note that it does NOT contain the preceding "/Web" in the path that is causing the issue in the second fetch().

I'm simply launching your extension from the home page of the site collection and trying to open a file in the extension. E.g. I haven't done anything explicit to cause two di

[2017-12-24 08:13] tavikukko commented on #32
Still can't reproduce the issue. If you got more information, that would help. Anything special in the setup, SP patch level, language and so on.

[2018-01-08 10:03] Gennady-G commented on #30
Hi @tavikukko !

Problem is still actual for me. Reviewed some bugreports on DevTools board([thread](https://bugs.chromium.org/p/chromium/issues/detail?id=794946&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=)). There is a message:

Tried this "[Network overrides](https://umaar.com/dev-tips/162-network-over

[2018-01-08 16:52] tavikukko commented on #30
thanks @Gennady-G for the update.
I can't get this thing working anymore...so lets see. Looks like they have changed something big time..  I also tried to use the experiences thingy but could not succeed. Lets stay tuned.

[2018-01-08 17:49] tavikukko commented on #30
@Gennady-G quess what , got it working with Canary and these steps https://stackoverflow.com/a/41192461
<img width="314" alt="screen shot 2018-01-08 at 19 47 38" src="https://user-images.githubusercontent.com/2223355/34684152-e269ca40-f4ac-11e7-9b19-6345d6198ced.png">

<img width="494" alt="screen shot 2018-01-08 at 19 47 15" src="https://user-images.githubusercontent.com/2223355/34684192-f46ab9f2

[2018-01-09 18:34] Gennady-G commented on #30
I can enable DevTools experiments, but cannot see "Persistence 2.0" on my version after restart:

![2018-01-09_202659](https://user-images.githubusercontent.com/5569346/34736463-ac2ddf0a-f57b-11e7-8e21-53b061ab274b.png)

Tried with Chrome:

![2018-01-09_202555](https://user-images.githubusercontent.com/5569346/34736482-c047a99e-f57b-11e7-8096-895a54bb3cc5.png)

and Canary:

![2018-01-09_201553](ht

[2018-01-09 20:45] tavikukko commented on #30
@Gennady-G use the "override requests with workspace project"
<img width="556" alt="screen shot 2018-01-09 at 22 44 10" src="https://user-images.githubusercontent.com/2223355/34742415-c91b099a-f58e-11e7-9da9-695f2a1f1c4f.png">

[2018-01-10 10:43] Gennady-G commented on #30
Hi @tavikukko !

I've already tried this option before. Tried second time, and also enabled all these checkboxes:

![2018-01-10_143937](https://user-images.githubusercontent.com/5569346/34768526-7c5edf06-f614-11e7-87d2-f513b34e9166.png)

I don't see "Override" option in context menu on Win 2012. Maybe my server OS causes problems

![2018-01-10_143927](https://user-images.githubusercontent.com/5569

[2018-01-10 16:09] tavikukko commented on #30
@Gennady-G you are almost there. Can you see Overrides Tabs on Sources? if you can, you need to click the "+Setup overrides" and select folder. After that you will be see the "Save for overrides" option in network context menu.

[2018-01-10 16:11] tavikukko commented on #30
Just tested with Win10 + Canary and all good. Remember to relaunch DevTools after enabling “override requests with workspace project” in experiences.

[2018-01-11 09:23] Gennady-G commented on #30
Arghhh!...

There is "Override **tab**"...

YES :)

Thank You @tavikukko very very much! It works! :) This workaround creates subfolder in target directory, so we need to re-open new file in external editor.

![2018-01-11_131749](https://user-images.githubusercontent.com/5569346/34817736-33126d0e-f6d2-11e7-9d5b-530c5f783076.png)

Thank You much for Your time, You saved me))

Best regards,
Gennady

[2018-01-11 10:12] tavikukko commented on #30
I will write instructions for this workaround and then close this. thanks @Gennady-G for reporting and helping solving the issue!

[2018-01-11 17:20] Gennady-G commented on #30
Yeah!) Till next time DevTools developers break something else :-D

[2018-02-05 08:42] eugenjeno opened #33 "blank SharePoint TAB in the devtools(F12)"
* installed chrome extension(not manually)
* opened sharepoint site and devtools
* selected sharepoint tab, BUT is completely blank

[2018-02-05 10:11] tavikukko commented on #33
thanks @eugenjeno for reporting!
Could you specify OS and chrome version you are using, maybe even screenshot, thanks.

[2018-02-28 08:40] tavikukko commented on #33
@eugenjeno whats the status of this, are you still facing this issue?

[2018-02-28 08:41] tavikukko commented on #32
@pkreipke are you still facing this issue?

[2018-03-02 11:42] renefluhler commented on #33
Have the same problem
Windows 10 Version 1703, Chrome Version 64.0.3282.186 (Official Build) (64-bit)
Same on PC and Laptop

[2018-03-02 11:44] renefluhler commented on #33
Disabled all extensions except SP Editor and no change

[2018-03-02 11:52] tavikukko commented on #33
thanks @renefluhler for reporting.
Could you do following
1. detach the devtools from the browser
2. press ctrl+alt+i to open devtools of sp editor
3. check console for errors

thanks

[2018-03-02 16:23] renefluhler commented on #33
thanks @tavikukko for the quick reply

I got it to work by opening the browser with the farm admin account
My account is not working even thought I am a farm administrator and site collection admin

No need to look to investigate further
Cheers René

[2018-03-07 15:23] tavikukko commented on #33
@renefluhler could you help me little with this, other users are also facing similar issues but I cannot reproduce this.
So could you tell me the steps how this situation occurs.
some questions:
- sharepoint env, online/sp2013/sp2016, language
- account used (member, owner, site collection admin..)

Thanks!!

[2018-03-08 16:38] jeancallisti opened #34 "Is chromium supported?"
I'm in a very strict dev environment where I can't install a browser on my 32-bit dev machine.

Therefore, I picked the only portable version of Chrome that I could think of : the latest build of Chromium 32-bits, which is build 541803
https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Win/541803/

I've installed SP Editor into it and it's kinda working, except a

[2018-03-08 16:40] jeancallisti opened #35 "How to execute the script in the PnP console?"
This question might sound stupid but maybe I'm missing something.

In SP Editor, how do you run the script in the pnp js console? There are no buttons, it only looks like a text editor. Am I missing the button because of my chaotic dev environment, or am I missing some shortcut?

[2018-03-08 16:43] jeancallisti commented on #35
OK, Ctrl+D. I was so eager to test the plugin that I missed the big fat welcome page containing the help. Sorry for cluttering the forum.

[2018-03-08 16:44] koltyakov commented on #35
![image](https://user-images.githubusercontent.com/7816483/37163531-18a7192a-2309-11e8-8674-915f36545c08.png)

[2018-03-08 16:47] tavikukko commented on #34
Hi @jeancallisti and thanks for trying out SP Editor!
Thats interesting setup you got there, and I have to say I do not have any experience with SP Editor with that version. Modern Properties / Site Designs and some other features also only work on O365.
Page editor should work in OnPremise anyways. What kind of development you are doing?

[2018-03-08 16:51] tavikukko commented on #34
If you can track the error messages from console in features that are not working, especially Page Editor, that would help me to solve the issue.

[2018-03-08 16:51] jeancallisti commented on #35
Well I hate to sound stupid a second time, but nothing's happening when I press Ctrl+D. I have a hard time figuring out of it's because of my portable Chromium environment.

[2018-03-08 16:54] koltyakov commented on #35
Do you have console opened? It should be expanded before switching to SP Editor tools. Otherwise, `Esc` does nothing.

[2018-03-08 16:57] jeancallisti commented on #34
Thanks for the lightning-fast answer!
I'm just doing some on-premise SP2016 Enterprise development, from a client machine (not from within the farm). Our client machines have very strict policies and we don't have administrator rights. Hence the Chromium.

So, the good news is :
- you explained why Modern Properties and Site Design panels don't do anything for me (I'm proud of my intuition despite

[2018-03-08 16:57] koltyakov commented on #35
Also, if you're dealing with SP2013 don't forget to place PnPjs setup at the beginning of the script:

[code]

[2018-03-08 17:00] jeancallisti commented on #34
Also, if you're wondering why I'm desperately trying to use SP Editor despite the obstacles, it's because you have the ultimate power feature : linking Scriptlinks that are outside the site collection, even in an on-premise install. With some work I could (maybe) work out the scriptblock trick you used, but it would require me to write some (fragile, considering my skills) javascript. So, SP Edito

[2018-03-08 17:03] koltyakov commented on #34
Outch... they squeeze your balls, man! ;)

[2018-03-08 17:11] ytterstrom commented on #35
Or use the snippet snip-headers to insert headers necessary for SP2013.

[2018-03-08 17:11] jeancallisti commented on #34
Yes they do.

EXCELLENT NEWS : do you know the way I told you that I had first used a very old Chromium by mistake, and then switched to the latest one and it didn't solve the issues? Well, guess what. The old one was still opened alongside it, and... it turns out that if you run the new Chromium while the old one is still open, then Chromium will use everything from the old one (DLLs, settings, e

[2018-03-08 17:13] jeancallisti commented on #35
OK, I didn't get that the console needs to be open alongside it to actually see the results (duh!). I don't know what I was expecting. I guess after being forced to use IE11 for way too long, I expected some kind of magical step-by-step execution interface directly in the pnp panel ;-)

[2018-03-08 17:57] tavikukko commented on #34
great battle @jeancallisti !
If you get any more questions, just open issue, glad to help ( and big thanks to these wizards --> @koltyakov & @ytterstrom )!

[2018-03-08 17:57] #34 closed

[2018-03-08 18:01] tavikukko commented on #35
I really should write those instructions and probably do a webcast guiding / demonstrating all the features :)
thanks again @koltyakov & @ytterstrom \o/

[2018-03-08 18:01] #35 closed

[2018-03-28 08:32] johannes-z opened #36 "Name of UCA in Scriptlinks panel"
Right now, if you add an UCA with `ScriptBlock` only, it simply says `CustomAction scriptSrc is empty`, which makes it very hard to identify the UCA. A column that showed the name of the UCA would help a lot!

![image](https://user-images.githubusercontent.com/9069888/38017748-3e4eb5f6-3273-11e8-8dfa-fa5429f600bb.png)

[2018-03-28 09:45] tavikukko commented on #36
Thanks @johannes-z,
The idea of SP Editor ScriptLinks functionality is to add/remove scriptlinks, not to monitor all UCSs in the SiteCollection. When injecting css, its actually using ScriptBlock, but its parsing the src attribute value from it and displaying that in the editor view. Also not all UCAs have title set, so that would lead to the same problem. So in the case you see this "CustomAction

[2018-03-28 09:48] tavikukko commented on #36
One option would be not to display those which do not inject files to SharePoint, but i find it interesting and usefull to see whats injected and it also gives me possibility to remove that injection, if i know what is it about, afterall, this is designed to be used in development envs only and there you know all your customizations/UCAs.

[2018-03-28 09:48] johannes-z commented on #36
@tavikukko True, but as you said, it's also for removing scriptlinks. If there was a name you'd know what you were removing :)

[2018-03-28 10:00] tavikukko commented on #36
@johannes-z ok, there is a point So if there is no injection, SP Editor could show the title of the UAC. If title does not exist, "CustomAction scriptSrc is empty" message could be valid?

[2018-03-28 10:12] johannes-z commented on #36
I'm not suggesting that it shouldn't show that message if the title is set. I just want to see the title in addition to the scriptlink or that message if that makes sense

[2018-03-28 14:29] johannes-z commented on #36
Maybe if there were 2 rows per entry would help? E.g.:

| Sequence | | Remove |
|---:| --- | --- |
| 1 | My CustomAction <br> CustomAction scriptSrc is empty | x |
| 2 | Some other UCA <br> `link to .js file` | x |

[2018-05-31 09:14] ytterstrom opened #39 "Efter upgrade to PnPjs the snippets does not work"
...Or am I doing something wrong. Maybe some of them should be rewritten, but I who is in some project still stuck on SP2013 rely heavily of the "snip-headers" in order to have support for onprem.

[2018-05-31 09:28] tavikukko commented on #39
ok, cool, I just removed them cos it was not compatible with pnpjs. I have the plan to add them back (this evening), and I will start with headers snippet. Thanks @ytterstrom for pointing it out!

[2018-05-31 11:09] tavikukko commented on #39
Published new version 4.1.0, snippets restored, updated monaco editor and added more scripts in the initial screen.

[2018-05-31 11:09] #39 closed

[2018-07-18 14:10] jeancallisti opened #40 "Failing to "Save" not detected"
This is more of a suggestion than an issue : when a file can't be saved (for whatever network reason) in the "file editor" panel, then the spinning wheel spins forever and nothing happens.

The issue is that it locks the file Editor panel. You can't swap files and you can't copy and paste the code as it is (to save it somewhere else until you fix the issue). The only solution to exit this deadlock

[2018-07-20 11:54] tavikukko commented on #40
Thanks @jeancallisti, I will have a look when back from vacation, it is a good suggestion.

[2018-08-09 12:25] ytterstrom opened #41 "More of a question how to implement..."
The page editor does not work for modern pages. I am thinking about how to implement the [get-pnpclientsidepage](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpclientsidepage?view=sharepoint-ps), [add-pnpclientpagesection](https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/add-pnpclientsidepagesection?view=sharepoint-ps) and [add-pnpclientsidewebpart](https

[2018-08-09 20:57] tavikukko commented on #41
Cool idea @ytterstrom ! I think it should be own functionality, not baked in to Page editor. I think you can copy the Page editor tag code and use it as a base, If you want to see the code what its generating (You can use fileeditor to see the markup what generated when adding webparts and sections to modern page ). The to get the actual CSOM payloads you need to run powershell to find out the rig

[2018-08-09 21:16] koltyakov commented on #41
Guys,

There is REST API for Modern pages.

The methods are implemented in PnPjs - [more details](https://pnp.github.io/pnpjs/sp/client-side-pages.html).

[2018-08-10 06:37] tavikukko commented on #41
thanks @koltyakov,
Im still using pnp-js-core in the other parts of the tool, so i need to update to pnpjs before we can go forward with this. I also have another idea, as this "modern editor" would not really need a gui.. so what im thinking is that we could have "sp editor cli". I have already been testing a library which mimics a terminal/console and you could run commands like in o365-cli / po

[2018-08-10 06:43] tavikukko commented on #41
This sampleis just a scripteditor webpart running in SharePoint using this library https://github.com/rohanchandra/javascript-terminal. It seems simple enough and has easy way to add your own commands. So I think only what needs to be implemented to this library is the autocomplete of the attributes/parameters of the custom commands (commands would execute PnPjs).

[2018-08-10 07:12] ytterstrom commented on #41
What I am looking for is a way to easily "mock" a page with different sections and client webparts including their configuration. Regarding classic pages you can quickly edit the webpart properties using the page editor which is a convenient way, instead of edit the page in the gui and change the properties. of course you can also do this using powershell or rest api, but the involves some "plumbi

[2018-08-15 13:34] Gennady-G opened #43 "Interesting, cannot type 't' in 'Scriptlinks' input"
Hi!

Is it something on my PC or You have same behaviour?

![speditor](https://user-images.githubusercontent.com/5569346/44150695-5495f3e0-a0b1-11e8-9b00-66ec5e85f25b.png)

I try type 't' letter but it does not display. Maybe I have some third-party extensions, not sure.

[2018-08-15 18:43] Gennady-G commented on #43
Ahhah)) The keyboard is new
I have some keyboard hook, maybe lastpass plugin do this..)

Ok, this is my problem, thank You!

[2018-08-15 18:43] #43 closed

[2018-08-17 09:33] tavikukko commented on #41
@ytterstrom updated the lib to PnPjs, so the needed clientside methods should be available to your needs.

[2018-09-04 12:18] seaSide974 opened #44 "Adding a sitecollection css scriptlink causing the page to reload one more time (SP2013)"
Hi !

Thanks again for your work,
I've found an issue : when i add a css as script link, site collection level, the page reload a second time before displaying the css. Even an empty CSS causes this.

As a workaround ive enabled publishing infrastructure on the site collection and referenced the css via the Master Page page (../_layouts/15/ChangeSiteMasterPage.aspx)

The added url is : ~sitecollec

[2018-09-04 21:18] tavikukko commented on #44
Hi,
could it be that teamsite with MDS enabled is causing this? If so, you could also disable MDS and no need to customize masterpage?

[2018-09-05 07:31] seaSide974 commented on #44
It's already disabled (site feature level)

[2018-09-05 08:13] tavikukko commented on #44
ok, the css is injected using scriptblock, which is block of js code that injects the css to html head. Don't know if there is a way to go around this, maybe I should use RegisterModuleInit to handle the issue.

[2018-09-24 13:54] seaSide974 opened #45 "How would you make js to reload for the user ?"
Hi,

How to avoid asking users to CTRL + F5 to get new javascript files ?
Is there an option to add a generated ?rev=...  arguments or similar methods ?

I was thinking of loading a js as scriptlink and loading my JS dynamically with ?rev=todayDate appended

Thank you

[2018-09-27 09:41] tavikukko commented on #45
Hi
are you injecting all the files using scriptlinks? Then you can just add ?rev=randomstring to your scriptlink url. You can do this also with SP Editor -> ~sitecollection/style library/myfile.js?rev=123

Thanks

[2018-10-26 13:19] ytterstrom commented on #33
If I try to use speditor on a computer where I am not admin, I get a blank screen and the following message:
Uncaught DOMException: Failed to read the 'sessionStorage' property from 'Window': Access is denied for this document.

Is there a workaround?

[2018-10-26 14:07] tavikukko commented on #33
Could you try this https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document

[2018-10-26 14:10] ytterstrom commented on #33
That is the problem, and a group policy is permitting me from changing this...

[2018-10-28 20:10] tavikukko commented on #32
will close this cos have not heard anything.

[2018-10-28 20:10] #32 closed

[2018-11-26 09:27] johannes-z opened #47 "File Editor does not catch chrome shortcuts"
For example, I cannot enter a `'` anymore, since this is the hotkey to open the chrome settings on my system:

![image](https://user-images.githubusercontent.com/9069888/49004967-d9a10700-f165-11e8-8ce7-b4b52c91db7d.png)

[2018-11-28 16:52] tavikukko commented on #47
wow, thanks @johannes-z ! tried with macOS and got the same, but the shortcut is different (cmd+,) Let's see if there is something to make this work. I tested something but could not fix it yet, it might be little hard to override DevTools shortcuts, but let's see.

[2018-11-30 20:40] tavikukko commented on #47
@johannes-z is this your custom shortcut cos I'm not seeing it in the menu of the Chrome?
<img width="258" alt="screenshot 2018-11-30 at 22 38 39" src="https://user-images.githubusercontent.com/2223355/49313701-d2288780-f4f0-11e8-8409-a13b9908be7a.png">

[2018-12-01 08:40] johannes-z commented on #47
It's not in this menu. It's a shortcut of the devtools, not of chrome itself

[2018-12-11 19:03] tavikukko commented on #47
@johannes-z whats the keyboard language layout and what the key combination to do ' sign? cant reproduce this with Finnish/English keyboards on windows.

[2018-12-12 15:47] johannes-z commented on #47
@tavikukko I'm on a german (austria) keyboard layout (qwertz). I press these buttons: <kbd>SHIFT</kbd>+<kbd>#</kbd>

[2019-02-26 16:58] pealmasa opened #49 "Script Sequence"
Trying to insert new script located in style library but need this custom scripts to be last loaded after all other SP OOTB scripts. Set sequence to max aprox. 65000 but still referencing on same place in the page above other scripts. Understand sequence should be for SP Editor added scripts but any way to accomplish this?

[2019-02-27 11:15] tavikukko commented on #49
Hi @pealmasa !
I think you need to use something like [this](https://gist.github.com/tavikukko/acecccd97cf26300cdb9)
inside your script to be sure the OOTB SharePoint scripts are loaded before your script runs.

[code]

[2019-03-05 12:41] tavikukko commented on #49
any luck @pealmasa ?

[2019-03-06 13:41] pealmasa commented on #49
@tavikukko it worked perfectly. Thanks!

[2019-03-07 08:06] tavikukko commented on #49
great!

[2019-03-07 08:06] #49 closed

[2019-03-08 09:39] tavikukko commented on #47
@johannes-z could you go to this page https://keycode.info/ and press shift+# and show me the out come with your keyboard settings?
Working on a fix for this now, sorry for the delay.
thanks!

[2019-03-08 12:53] johannes-z commented on #47
@tavikukko Sure! It's `191`

[2019-03-08 22:02] tavikukko commented on #47
fixed in latest release 4.5.0

[2019-03-08 22:02] #47 closed

[2019-04-05 20:38] ckreling opened #50 "Issue with Chrome 73 Update"
Hi there

I really love this tool.  With the recent Chrome v 73 update something has broken where I can edit files in File Editor but if I refresh the page and make another change I get the spinning save wheel and have to close the developer tools and start over.  This is repeatable on both Win 7 and Mac.

Thank you for any help !!!!!

[2019-04-06 02:33] ckreling commented on #50
Hi - update for you

I found v 56 of Chrome and tried again and it appears something in SP has changed to cause some incompatibility with the editor.

To reproduce on PC or Mac
I am using SP Online

-Open a page with a javascript file to edit embedded
-You can make changes and ctl S and saving works great
-Refresh browser page
-Attempt to save again and spinning arrows save icon - it hangs forever

[2019-04-06 13:22] Gennady-G commented on #50
Don't know if is related, but tried to rename webpart (change webpart title) in "Page Editor", and  spinning arrows hanged too..

Try to map file and edit in external editor? Mapping with "Overrides" works Ok.

[2019-04-06 15:56] ckreling commented on #50
Can you explain mapping with overrides and procedure you use for mapping file to use external EDITOR?  At work I have visual studio to try but also looking for a Mac solution tonite from home.  Thanks for any help.

[2019-04-07 10:07] tavikukko commented on #50
thanks @ckreling & @Gennady-G for reporting, I will have a look.

[2019-04-07 12:41] tavikukko commented on #50
@Gennady-G I found a bug in the code of Page Editor, which is now fixed. @ckreling are you talking about File Editor or did you also use Page Editor, because I was not able to reproduce the error in File Editor.

[2019-04-07 13:35] tavikukko commented on #50
Released new version of SP Editor with the fix to Page Editor. If this fixed also issue with @ckreling, then I will close the bug.
Thanks for your co-operation, really appreciated!

[2019-04-08 01:03] ckreling commented on #50
HI there @tavikukko - appreciate the quick response.  I had the issue with file editor.  I'll try tomorrow AM and let you know if it still happens.

There was another post where a user asked if you would consider putting a save timeout/cancel feature for when the arrows go into infinite spinning and lock up the tool.  Would you consider making such an enhancement?

Thanks !

[2019-04-08 05:42] Gennady-G commented on #50
Thank You @tavikukko ! :+1: )

@ckreling, F12-> Sources -> Overrides, add folder, "Accept", then in "Network" right click, "save for overrides". See [ this thread](https://github.com/tavikukko/Chrome-SP-Editor/issues/30#issuecomment-356041049) or in google (You don't need Canary, Chrome works too). Not than every time You "Edit page" You need to re-add *.css files, they get different tag..

[2019-04-08 09:58] tavikukko commented on #50
@ckreling cannot reproduce in File Editor, so if you have exact steps how to repro this, it would help to debug.
The timeout is good idea, I will think about it again, but let's get this fixed first. When there is something wrong, and the spinner stays spinning, I think its also good to restart it because there might be something wrong and the next updates could break something...So I think I coul

[2019-04-08 16:35] ckreling commented on #50
Hello

Well I just uninstalled and re-installed the editor and have the same issue (but thank you for putting horizontal scroll bar on files list!!!)

Here are the steps to reproduce:

1) Open a SP Online page that has a content editor web part that links to a JavaScript file.
2) F12 and go to SharePoint tab
3) Select File editor
4) Place cursor anywhere on code and 'Ctl-S' to save.  It can be jus

[2019-04-08 17:00] tavikukko commented on #50
Thank you,
couple of questions:
- between steps 3-4, I search that linked js file and edit that?
- is that linked js file in the same sitecollection / web as the contenteditor webpart?

The File Editor always works in the same context as the user is, so if you are working on a subsite, the file editor will start browsing down from that particular web, not from the rootweb of the sitecollection.

[2019-04-08 19:04] ckreling commented on #50
Bullet 1) Not sure what you are asking here?
Bullet 2) Yes it is - same site.  Page with CEWP in SitePages and js in SiteAssets

[2019-04-12 14:47] tavikukko commented on #50
Can't repro this, sorry. Can you record a short video :) ?

[2019-04-23 06:47] forgetalex opened #51 "Refiners and Refinement Filters in search"
Hi,

currently there is no option to pass refiners or refinement filters to the search. I would like to implement this feature if that would be ok.

Kind regards, Alex

[2019-04-23 07:09] tavikukko commented on #51
yes @forgetalex,
I have been thinking this too but have not had the time.
So please, all contributions are very welcome!
Thanks!

[2019-05-15 21:15] tavikukko commented on #51
Thanks @forgetalex for you contribution. Just pushed new version with your contribution of RefinementFilters feature (added also SortList & SourceId), cheers!

[2019-05-15 21:15] #51 closed

[2019-06-18 11:24] cysieks opened #56 "SPEditor is blocking alertify"
I really appreciate the tool you created, but recently found that SPEditor is blocking alertify functionality. When you click on dialog window, the dimmer is retained, which blocks webpage content from any interactions.

To reproduce:
1. Go to https://alertifyjs.com/alert.html
2. Click Run
3. Click OK on dialog
4. Page is dimmed, and you cannot click Run once again.

When SPEditor is disabled, eve

[2019-06-18 11:32] cysieks commented on #56
This is related to injected stylesheet by SPEditor:

.alertify, .alertify.show {
    transition: all 0.33s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
}
injected stylesheet
.alertify {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
injected stylesheet
.alertify, .alertify

[2019-06-18 13:01] tavikukko commented on #56
Hi @cysieks and thanks for opening the issue!
I think the only way to fix this is to change the classnames in the css/js related to alertify.
Or any other thoughts?

[2019-06-18 13:05] cysieks commented on #56
Hi, thanks for quick response.

Yes, if you change the class names to something unique, the problem will be resolved. I suggest using speditor prefix. e.g. .speditor_alertify

[2019-08-15 11:26] Gennady-G opened #57 "Does it support CSS injected with ApplicatioCustomizer (modern pages)?"
Hi @tavikukko ! How are You :)

I'm playing with modern pages and added small extension that adds CSS file to header. SP-Editor finds this file but does not save and approve it (I add file in Overrides tab, set "save" and "approve" checkboxes and hit ctrl+s: black "updating" message appears but no green one). Is this scenario supported with SP-Editor? If not - are we able to modify CSS files in mo

[2019-08-15 16:17] tavikukko commented on #57
Hi @Gennady-G , all good here!
Could you just try to edit the css, file without using override tab? Just open the file from Sources tab, edit and save (ctrl+s).

[2019-08-15 16:22] tavikukko commented on #57
Also, check network/console tabs for errors after trying to save the file.

[2019-08-15 20:45] #57 closed

[2019-08-15 21:22] tavikukko commented on #57
fixed in latest version 5.0.4, just published.

[2019-08-16 10:51] Gennady-G commented on #57
Thank You much @tavikukko ! :)

[2019-08-21 12:38] Gennady-G opened #58 "CSS ScriptLink is deployed but not visible in SP Editor "Scriptlinks" tab"
Greetings!

Subj. I was able to successsfully deploy site-collection scope CSS, but cannot remove it because don't see it

Best regards,
 Gennady

[2019-08-21 18:46] tavikukko commented on #58
Hi, how did you deploy it?

[2019-08-22 07:18] Gennady-G commented on #58
Hi @tavikukko!

Cannot reproduce. I think I understand - I switched all my extensions to start 'onclick':

![2019-08-22_110834](https://user-images.githubusercontent.com/5569346/63494265-634fec00-c4ce-11e9-85fb-0bbaeeaeb51a.png)

Then it is off by default and turns on only on click and F5..
![2019-08-22_110827](https://user-images.githubusercontent.com/5569346/63494275-68ad3680-c4ce-11e9-8894-1768

[2019-08-22 07:19] #58 closed

[2019-09-07 08:18] tavikukko opened #59 "Search current page not working"
Currently "Search current page" is not showing anything.
Seems to be that _spPageContextInfo.**uniqueId** is always null since 7.9.2019. Before it had the value of the current page.
Fix is in place in version **5.4.1** which is currently in review by Goole Web Store.

[2019-09-08 07:29] #59 closed

[2019-10-26 21:07] thomyg opened #60 "Graph Man Sign in not working"
I'm trying to add a new feature that requires Microsoft Graph calls.

In order to get up and running, I try to mimic what is done in Graph Man. But I'm even not able to sign in with the default Graph Man.

Using the latest version 5.4.4 I get a different behaviour for trying the extension in the standard and the dev way.

When I use the standard version of the extension I get the following error a

[2019-10-28 06:43] tavikukko commented on #60
Hi @thomyg !
I will have a look, it might be that the Graph Man feature is not currently working. You can also use PnPjs to access graph api.

[2019-10-28 08:59] thomyg commented on #60
HI @tavikukko!

Thx for looking into it.

In terms of PnPjs -> Don't I need a token to talk to the Graph? I thought I need to do the same dance as in Graph Man to acquire the bearer token. Am I wrong here?

[2019-10-28 09:56] tavikukko commented on #60
You can check the PnPjs Console functionality. When you open PnPjs Console, there is some sample code, and one of them accesses Graph (if fetches Groups). You need to be in modern page when you run it (ctrl-D). There is also some instruction in the comment of that code block to make sure the aad app of SharePoint granted correctly.

[2019-10-28 10:08] thomyg commented on #60
You mean:

`// using @pnp/graph (modern page in browser)
// before using @pnp/graph, you need to grant needed API permissions
// to 'SharePoint Online Client Extensibility Web Application Principal' AAD Application
// from https://aad.portal.azure.com
import { graph } from "@pnp/graph"

if ((window as any).moduleLoaderPromise)
(window as any).moduleLoaderPromise.then(e => {
    graph.setup({

[2019-10-28 10:15] tavikukko commented on #60
yes thats the one

[2019-10-28 14:35] tavikukko commented on #60
Fixed GraphMan login (take the latest), but it will take some time to publish cos google is doing in-depth review of the extension. If you want to develop something related to Graphman, I need the local version url of the extension which is always generated when locally developing. you can see this url when cheking the sources of the local extension using inspect feature. it will be formatted like

[2019-10-29 19:52] thomyg commented on #60
Thx @tavikukko !

Calling graph within panelsqqueries.js works now with the following code:
`if (window.moduleLoaderPromise) {
      // polyfill for _spPageContextInfo on modern sites
      window.moduleLoaderPromise.then(function (e) {

        $pnp.graph.setup({
          spfxContext: e.context
      })

      $pnp.graph.me.joinedTeams.get().then(function (teams) {
        var teamslists = [];

[2019-10-31 11:38] tavikukko commented on #60
fixed in 5.4.5, thanks for reporting @thomyg !
also released 5.4.6 (still under review by google) for some sample code how to access graph endpoint using PnPjs Console using GraphMan.

[2019-10-31 11:38] #60 closed

[2019-11-17 07:58] LakshmiMurugavadivelu opened #61 "On the on-prem SharePoint site previously added script link references are getting added automatically in a regular basis"
Hi Team,
I have a issue regarding the SP editor script links we are using script links in our on-prem SharePoint site for adding required js and css file references. we are updating the script link references when ever required or when ever there is a new change comes through.
I have noticed on 11th November 2019 all the previously used and deleted script-links references are added to the script e

[2019-11-17 14:55] tavikukko commented on #61
Hi @LakshmiMurugavadivelu and thanks for reporting!
I tested with O365 and all seemed to work ok there. I will test on-prem version next week. Can you specify which SP version you were using? And also do you get any errors to console?

[2019-11-18 05:43] LakshmiMurugavadivelu commented on #61
Hi Tavikukko,
Thank you for your response we are using Sharepoint 2016 version. Not getting any error in the console.
Thank you,
Lakshmi

[2019-11-19 07:03] LakshmiMurugavadivelu commented on #61
Hi Tomi,
Again this morning all the old references are added in the SP Editor automatically not sure what is causing this issue. Let me know if you have any idea.

Thank you,
Lakshmi

[2019-11-19 11:38] tavikukko commented on #61
Just to clarify:
1) You try to remove scriptlink, but it does not get removed?
2) the old scriplink gets removed but appears after some days?

if the second option, then this is not related to SP Editor

[2019-11-19 11:48] tavikukko commented on #61
just tested in SP2016, added and removed scriptlinks, all worked fine.

[2019-11-19 12:01] LakshmiMurugavadivelu commented on #61
2. The old script link gets removed but appears after some days.

On Tue, Nov 19, 2019, 3:38 PM Tomi Tavela <notifications@github.com> wrote:

[2019-11-19 12:08] tavikukko commented on #61
ok, here is some ideas to check i your environment:
1) It might be that you have deployed your custom actions (which installs the scriptlinks) using Feature framework and for some reasons those features are reactivated and the scriptlinks are re-added.
2) One another option could be that you have some script/job adding those links again to the site collection.

[2019-11-20 08:36] tavikukko commented on #61
@LakshmiMurugavadivelu any updates? I would like to close this, seems not to be related to SP Editor.

[2019-11-21 07:39] LakshmiMurugavadivelu commented on #61
Hi Tomi,
Thank You for your response yes you can close this. i will update you if i
come to know the cause.

Thank You,
Lakshmi

On Wed, Nov 20, 2019 at 12:36 PM Tomi Tavela <notifications@github.com>
wrote:

[2019-11-21 08:43] tavikukko commented on #61
ok,
thank you @LakshmiMurugavadivelu , please create new issue, if you think its related to SP Editor.

[2019-11-21 08:43] #61 closed

[2020-01-10 18:00] jimbotronn opened #62 "CSS File update won't save"
I see the pop up text that says updating file but it doesn't give me the confirmation message that the file is saved, which is true because the file didn't get updated.  In chrome developer it shows 400 bad request error for the getfolderbyserverrelativeurl api call.  The same function seem to work on on a different site but nothing has changed other than I had to reinstall chrome on my laptop so

[2020-01-10 18:26] tavikukko commented on #62
Hi @jimbotronn
and thank you for opening this issue.
Could you provide me the url from developer tool network tab, which gives the 400 error?
what environment are you working on, Online, on-prem13/16/19?

Thanks

[2020-01-11 06:09] jimbotronn commented on #62
Organization is strict about their stuff so I took out the site address.  I think you are looking for what comes after the api code anyway.

This URL below throws the 400 (Bad Request) error
**GET https://[siteaddress]/departments/MaterielSystems/_api/web/getFolderByServerRelativeUrl('%2Fdepartments%2Fmaterielsystems%2Fsiteassets%2Fstyles')/files('sc%2520suppliers%2520page.css')**

Here's the URL

[2020-01-11 10:01] tavikukko commented on #62
Thanks for the details.
Only difference what i can see is the managed path /departments used in the failing site collection. The one what is working is using /sites. I will try to test this in my 2016 environment.

[2020-01-11 12:36] tavikukko commented on #62
Hi,
I think the issue must be the filename  --> sc%2520suppliers%2520page.css
you have encoded spaces (%20) sc%20suppliers%20page.css in the filename, and then the filename gets re-encoded (% --> %25) to sc%2520suppliers%2520page.css and SharePoint does not find that .cs file anymore.

Remove the spaces from the filename and re-inject that css file to the site collection, i think that will fix you

[2020-01-11 18:11] tavikukko commented on #62
Tested in SP2016 environment, added css file (my styles with spaces.css) to siteassets doclib under styles folder. Injected with and without encoding and Im able to save the file successfully.

http://intranet.sp.test/custompath/testsitecollection/_api/web/getFolderByServerRelativeUrl('%2Fcustompath%2Ftestsitecollection%2Fsiteassets%2Fstyles')/files('my%2520again%2520jee.css')

[2020-01-12 16:17] tavikukko commented on #62
So what I need here is repro steps, because I cannot reproduce this in any of my environments.

Thanks

[2020-01-13 22:51] jimbotronn commented on #62
Sorry I was off over the weekend.
 I'm getting the same error.
 https://[siteaddress]/departments/MaterielSystems/_api/web/getFolderByServerRelativeUrl('%2Fdepartments%2Fmaterielsystems%2Fstyle%2520library%2Fstyles')/files('schome.css')

I'm not sure how to get rid of %25 in the folder path.  I can't inject css using SP editor so i'm using script content web part to inject css for both sites.  I'm

[2020-01-14 11:42] tavikukko commented on #62
can you share the snippet you add to script content, but please strip any content that you think is not secure to share. Then I might be able to repro this problem.
Thanks

[2020-01-17 09:04] jimbotronn commented on #62
<link rel="stylesheet" type="text/css" href="/departments/MaterielSystems/Style Library/Styles/SCSuppliers.css"/>

[2020-01-17 09:04] jimbotronn commented on #62
`<link rel="stylesheet" type="text/css" href="/departments/MaterielSystems/Style Library/Styles/SCSuppliers.css"/>
`

[2020-01-17 11:14] tavikukko commented on #62
Thanks @jimbotronn for the snippet.
How do you add this snippet to the page, using script editor webpart?
You know, if you are using webpart to add this snippet, it will only work when you are actually in that page where the webpart is, not from any other page in the site collection... and that means that SP Editor will not be able to save this.

[2020-01-17 11:51] jimbotronn commented on #62
I know. Our IT is terrible and haven't kept up with maintaining the
infrastructure. This is the only way I can work around their policies. The
script web part method works for the other site and it worked on the site
that I'm having issues with all through 2019. I honestly don't know why it
just now becoming an issue

Jimi Yu

On Fri, Jan 17, 2020, 6:14 AM Tomi Tavela <notifications@github.com> wr

[2020-01-19 09:04] jimbotronn commented on #62
I've moved the files to a folder without space in its name and it worked. SP Editor is working again so I'm not sure why the folder name is just now becoming a problem but this workaround will do.

[2020-01-19 09:04] jimbotronn commented on #62
Thanks for all your help

[2020-01-19 12:19] tavikukko commented on #62
Thanks for the info.
I will be still trying to reproduce this couple of times. If there is anything you think could help me to repro this, just let me know.

Thanks

[2020-01-30 13:39] jpalo opened #63 "Reading list views in Console"
Hi,
How would I access defaultView of a list via PnPjs Console 2.0.2? Is this just due to changes how you do references in PnPjs v2 that has proven overwhelming for me to comprehend?

[code]

[2020-01-30 13:50] jpalo commented on #63
`const l = await sp.web.lists.getByTitle('w18').defaultView.select('ListViewXml')();`

[2020-01-30 13:50] #63 closed

[2020-02-21 22:46] DanielSanIT opened #67 "Managed links"
I want to suggest to make managed links to have following possibilities:
1. Mark links as favorites, to see/hide them in links list.
2. Manually order links.
3. Make new links (to write what should be after site name).

[2020-02-23 10:25] tavikukko commented on #67
Hi @DanielSanIT
And thanks for the idea. This would need to build some store to SP Editor to be able to save and store data. which is not so big task as Chromium has build in service to store data. It also need to add more permissions request to the tool. I will keep this open for now and label it as enhancement. But if you have a list of useful links to add, you can share them and let's see if we

[2020-03-10 17:31] joelfmrodrigues opened #68 "Info on PnP JS Console"
Hi,

Just a quick suggestion to make it easier for new people to understand how to execute the code from the PnPjs console: add a comment at the top :)

![image](https://user-images.githubusercontent.com/19577724/76341360-d5fea880-62f4-11ea-99b4-19d91200ae72.png)

[2020-03-10 17:34] koltyakov commented on #68
Isn't it already there? ;)

![image](https://user-images.githubusercontent.com/7816483/76341782-91800680-630e-11ea-834c-c356c4cc8028.png)

[2020-03-10 18:30] joelfmrodrigues commented on #68
Didn't see it on Edge

[2020-03-11 07:11] tavikukko commented on #68
Thanks @joelfmrodrigues for pointing that out!
Will add it in next release.

[2020-03-11 12:41] tavikukko commented on #68
Will do something like this.
![image](https://user-images.githubusercontent.com/2223355/76417643-e589fa00-63a5-11ea-807f-2aa09d16e58f.png)
At the moment I'm working with Web Properties feature and this will be out when thats ready.
Just wondering should I default the Import to @pnp/sp/presets/all instead of "promoting" the selective imports.. any thoughts?

[2020-03-17 01:01] IvanTheBearable opened #69 "Endless loading state on "Modern Properties" tab if App Catalog excluded from search results"
Lines 2297 - 2299 of /app/panelspqueries.js perform a search for the app catalog site. If no app catalog site is found (because it hasn't been created or it has been excluded from search results) then this search returns zero results. There is no check for this scenario. Line 2300 attempts to read the first result and fails with the following error:

[code]

[2020-03-17 06:41] tavikukko commented on #69
Thanks @IvanTheBearable ,
I will have a look.

[2020-03-18 08:43] tavikukko commented on #69
Thanks @IvanTheBearable for the PR!
I have merged it and fix will be available in version 5.5.4 when Google approves the updated package.

[2020-03-19 08:52] tavikukko commented on #68
This fixed now in latest 6.0.2 version, just published to Edge store.
Thanks.

[2020-03-19 08:52] #68 closed

[2020-03-24 08:48] tavikukko commented on #69
Updated version 5.5.4 released and available

[2020-03-24 08:48] #69 closed

[2020-04-17 06:34] navarrorc opened #72 "Cannot delete a List field by using the delete() function"
I can't delete a field from a List using the delete() function, in the console I get
```TypeError: list.fields.getByTitle(...).delete is not a function```

To reproduce:

Try to delete a field by following the instructions found at https://pnp.github.io/pnpjs/sp/fields/#delete-a-field

![pnpjs_console_cannot_delete_field](https://user-images.githubusercontent.com/215220/79539130-96855380-803a-11ea

[2020-04-17 08:29] tavikukko commented on #72
Hi @navarrorc
and thanks for reporting. Could might be a bug actually in PnPjs?

[2020-04-17 10:25] tavikukko commented on #72
[issue to PnPjs](https://github.com/pnp/pnpjs/issues/1164)

[2020-04-17 16:34] navarrorc commented on #72
@tavikukko Thank you for creating an issue on the PnPjs repo. I will the code that you provided when reporting the issue.

[code]

[2020-04-20 11:17] tavikukko commented on #72
Closing as the issue is in PnPjs. Thanks!

[2020-04-20 11:17] #72 closed

[2020-04-22 12:00] Gennady-G opened #73 "Can You please add link to sign out (useful for on-prems)"
Greetings @tavikukko !

By the way, if You have time - can You please add "Sign out" link to quick links?

![links-2020-04-22_155845](https://user-images.githubusercontent.com/5569346/79979207-31a28100-84b2-11ea-9779-63f479f4b2db.png)

Url is:
`/_layouts/closeConnection.aspx?loginasanotheruser=true`

It is useful when need to change user working with on-prem sharepoint

Not an issue, but enhanceme

[2020-04-22 12:56] tavikukko commented on #73
Hi @Gennady-G !
Just tested this in online and it gives error:

Sorry, something went wrong
An unexpected error has occurred.

But it actually signs you out...

[2020-04-22 13:07] Gennady-G commented on #73
Hmm...

Yes, it finally gives error in Online.. Also tried with` /_layouts/**15**/closeConnection.aspx?loginasanotheruser=true`

Just googled it. We can avoid error adding Source to url. Maybe something like this would be Ok?

`_layouts/closeConnection.aspx?loginasanotheruser=true&source=/_layouts/15/viewlsts.aspx`

Best regards,
Gennady

[2020-04-22 14:22] tavikukko commented on #73
Tried this and it logs you out and instantly start new sign-in process:

https://tenant.sharepoint.com/sites/sitecollection/_layouts/closeConnection.aspx?loginasanotheruser=true&source=https://tenant.sharepoint.com/sites/sitecollection

Can you verify in your online and on-prem envs and I will add it, if work in both?

Thanks

[2020-04-22 14:41] Gennady-G commented on #73
Hi @tavikukko !

Yes, it works for me. But note that protocol could be **http**, and it fails if "https" is used шт second occurrence:

**http**://server/_layouts/closeConnection.aspx?loginasanotheruser=true&source=**http**://server

this is for my on-prem

Best regards,
Gennady

[2020-04-22 14:43] tavikukko commented on #73
nice!

yeah, all urls will be dynamic related to the current environment, not hardcoding anything.

So, I will have a look on this.

Thanks.

[2020-04-22 15:08] Gennady-G commented on #73
Thank You much Tomi!)

[2020-04-25 07:29] tavikukko commented on #73
Shipped in the latest version 5.5.7. Thanks @Gennady-G for the idea.

[2020-04-25 07:29] #73 closed

[2020-04-27 10:26] kblproactivedk opened #74 "SP Editor is not available in the dev tools in New Edge Dev"
Version 84.0.488.1 (Official build) dev (64-bit)

Not sure that this will become an issue in the release version , but just in case

![image](https://user-images.githubusercontent.com/62996462/80361936-0a68fc80-8882-11ea-81ba-d0e7e6d37e0c.png)

[2020-04-27 10:44] tavikukko commented on #74
Hi,
can you try to disable / enable it? Are you using beta build of Edge?

[2020-04-27 10:54] kblproactivedk commented on #74
Hi,
It used to work just fine using the version of SPEditor from the Google Web store. Yesterday it stopped working and I then removed the extention and installed the version from the Edge store.
Yes, I am on the beta/dev as stated above :-)

[2020-04-27 11:12] tavikukko commented on #74
ok,
I had some similar issues when using dev/beta builds also. Then switched to official build and it started working. So it might be something in the dev builds.

[2020-04-27 11:30] kblproactivedk commented on #74
Using SPEditor is way more important than testing the Dev builds, so I'll just change to the official build :-)  Thanks for a great tool

[2020-04-27 12:27] tavikukko commented on #74
Can you confirm that moving to official build fixed your issue?

Thanks!

[2020-04-27 12:48] kblproactivedk commented on #74
It seems to work fine once I switched to the official build :-)

[2020-04-27 12:50] tavikukko commented on #74
Great,
Thanks @kblproactivedk for you help!

[2020-04-27 12:50] #74 closed

[2020-05-06 08:38] Gennady-G opened #75 "Can You please add "Login as another user" to on-prem context menu too?"
Hi Tomi!

As I understand these quick links are context sensitive..

They looks different in on-premise:

![on-prem-2020-05-06_123052](https://user-images.githubusercontent.com/5569346/81155774-5ad50e00-8f96-11ea-8e85-5854dcb87cc8.png)

and SharePoint Online:

![0365-2020-05-06_123123](https://user-images.githubusercontent.com/5569346/81155785-5dcffe80-8f96-11ea-86d8-a933eafafa7b.png)

Can You ple

[2020-05-06 18:42] tavikukko commented on #75
Oops, sure will do, thanks!

[2020-05-10 20:02] #62 closed

[2020-05-10 20:04] tavikukko commented on #56
this is fixed in the edge version of this extension (not using alertify anymore )

[2020-05-10 20:04] #56 closed

[2020-05-10 20:05] tavikukko commented on #50
closing, please reopen if the problem still exist

[2020-05-10 20:05] #50 closed

[2020-05-10 20:05] tavikukko commented on #41
closing

[2020-05-10 20:05] #41 closed

[2020-05-11 11:52] tavikukko commented on #75
this is now waiting for google's approval.

[2020-05-11 14:55] Gennady-G commented on #75
Thank You much Tomi! Will be useful for me!

[2020-05-12 19:54] tavikukko commented on #75
released in 5.5.8

[2020-05-12 19:54] #75 closed

[2020-06-03 16:11] Rafaelki opened #76 "More links"
Hi. I love this tool. May I suggest adding 2 more links:
1. In modern pages, to the maintenance mode > ?maintenancemode=true
2. To the new Term store admin > https://[tenant]-admin.sharepoint.com/_layouts/15/online/AdminHome.aspx#/termStoreAdminCenter

[2020-06-04 19:34] tavikukko commented on #76
Thanks @Rafaelki , I will have a look.

[2020-06-05 13:16] Gennady-G commented on #76
Maybe also "Second-stage Recycle Bin" under "Recycle Bin"?..
/_layouts/15/AdminRecycleBin.aspx?View=2

Useful when You need to clean up recycle bins from old SPFx solutions..

![1-2020-06-05_171620](https://user-images.githubusercontent.com/5569346/83880505-4c724180-a750-11ea-9ba3-eb4c4b3a1d0e.png)

![2-2020-06-05_171629](https://user-images.githubusercontent.com/5569346/83880519-509e5f00-a750-11e

[2020-06-10 09:21] ReijerRaijmakers opened #77 "Sharepoint tab not shown in Dev tools"
I basicly used your extension to see if everything is installed in newly provisioned SharePoint Online sites.
This has always worked, but since this week (from what i've noticed)  the tab is not shown in the Dev tools, which makes me unable to check the webhooks.

[2020-06-11 09:30] ReijerRaijmakers commented on #77
Hi!

So whenever I am on a random site, google for example, I get to see this:
![image](https://user-images.githubusercontent.com/24942034/84368561-0137b300-abd6-11ea-9c52-0772c015feda.png)

But whenever i get to a SharePoint site, that option disappears.

This option has worked for atleast 6 months and somewhere between now and 2 weeks ago, it stopped working. My colleagues have the same problem.

[2020-06-12 06:42] tavikukko commented on #77
This is really interesting and strange, as I cannot repro this.
Does this happen with all devices and all SharePoint envs, online/onprem?
Could there be something in that environment, that is blocking SP Editor specifically ?

[2020-06-17 09:02] ReijerRaijmakers commented on #77
Sorry for the late response.

It now works for a colleague of mine in chrome, still not for me. But it does work in edge for me so i can continue.

Thanks for your advice!

[2020-06-17 09:02] #77 closed

[2020-06-19 18:13] tavikukko commented on #33
closing, please open if still a problem

[2020-06-19 18:13] #33 closed

[2020-06-19 18:13] tavikukko commented on #30
closing, open is still an issua.

[2020-06-19 18:13] #30 closed

[2020-06-19 18:14] tavikukko commented on #40
cant repro, please open is still issue.

[2020-06-19 18:14] #40 closed

[2020-07-10 07:16] tavikukko commented on #76
@Rafaelki, added these links to the latest version 5.5.9, thanks for the idea.

[2020-07-10 07:16] #76 closed

[2020-07-23 10:28] joelfmrodrigues opened #78 "Issue updating client_LocationBasedDefaults.html"
Hi Tomi,

I tried to edit the file where default field values configuration for a library (Forms>client_LocationBasedDefaults.html) are stored using the extension but was not able to save my changes. Tried multiple times and always had the same result: stuck with saving animation.

I then went on SharePoint Designer and noticed that the file was checked-out, likely by the extension.
Any idea if th

[2020-07-23 10:34] Gennady-G commented on #78
Greetings!

`was not able to save my changes.`
`noticed that the file was checked-out`

I'm not an author, but sometimes there is an error when there are too much versions (about 100, not sure, depending of library settings).
You can try to remove all file versions, and then check-in file again

Best regards, Gennady

[2020-07-23 13:09] tavikukko commented on #78
Hi @joelfmrodrigues and thanks for the issue.
I tested and I also get the error. The error comes when it is doing check-in for the file, but I think in this case its not necessary as we saving system file in reality. **The file gets updated thou**, so I think we need to check some conditions before actually doing the check-in if its needed. Thanks @Gennady-G  also for you help here!

[2020-07-23 14:18] Kizlyk opened #79 "Updating site script not working for some scripts"
Hi,

Steps to reproduce
F12 -> Sharepoint -> Site Scripts -> Select existing script -> Make Changes -> Press Save
As a result spinner keeps spinning indefinitely, save is not happening.

Works fine for some other scripts I have. If there is an error there it would be nice to see it

[2020-07-24 08:25] tavikukko commented on #79
Hi @Kizlyk ,
Could you check the **network tab** when you get the error, there might be failing request and from there we could see the error from the response.

[2020-07-28 12:22] Kizlyk commented on #79
Hi @tavikukko,

I checked, unfortunately there are no failed request there. I see the successful call to _api/Microsoft.Sharepoint.Utilities.WebTemplateExtensions.SiteScriptUtility.GetSiteScripts and then to _api/contextinfo. What else can you suggest I could do to debug this?

Thanks

[2020-07-28 12:49] tavikukko commented on #79
Thanks @Kizlyk
What we can try next, is that when you have the SP Editor open in the devtools, right click the tool somewhere and select inspect. That will open the devtools of the SP Editor and from there in console tab, you might see the underlying error.
![image](https://user-images.githubusercontent.com/2223355/88667225-c0462000-d0e9-11ea-9b84-12142ddc8365.png)

[2020-07-28 13:17] Kizlyk commented on #79
Thanks @tavikukko . I Tried that, unfortunately no errors there either:
![Image 1](https://user-images.githubusercontent.com/37625742/88670298-9131ad80-d0ed-11ea-9a5a-598f080507c6.png)

I will have to update the script some other way, but if you want me to try something else to debug it, please let me know

[2020-07-28 13:21] tavikukko commented on #79
ok, could i have a look at the site script?

[2020-07-28 13:44] Kizlyk commented on #79
I would prefer not to post it here. I could email it to you I suppose

[2020-07-28 14:23] tavikukko commented on #79
Ok, first dot last at gmail dot com

And please xyz all sensitive info, thanks.

[2020-10-04 12:57] tavikukko commented on #78
@joelfmrodrigues, I updated SP Editor, made small fix for this, I hope it was enough. Let me know if it did not work, thanks!

[2020-10-04 12:57] #78 closed

[2020-10-04 12:58] tavikukko commented on #79
@Kizlyk, I'm closing this, please open it again if you can provide repro steps, thanks!

[2020-10-04 12:58] #79 closed

[2020-11-25 13:41] kasperbolarsen opened #81 "Error loading all Properties (Search)"
Latest version, just added from the Chrome store
Doing a Seach using a Search Result Source guid ( * in Query) the rest is default

The results shows up just fine, but the "Show all properties" shows an error ( looks like it is expecting a refiner)
![image](https://user-images.githubusercontent.com/20593570/100234961-16a65c80-2f2c-11eb-9b5f-983ae4b7cf54.png)

[2020-11-26 09:41] tavikukko commented on #81
Thanks @kasperbolarsen , I will have a look!

[2020-11-29 15:15] kasperbolarsen commented on #81
Hi Tomi, FYI it seems only to be an issue when using people search :-) Great work, I have SP Editor on each profile, both in Edge and Chrome

[2020-12-02 16:57] tavikukko commented on #81
fixed, waiting for approval in Google webstore.

[2020-12-03 07:36] tavikukko commented on #81
Fixed in the latest release of [SP Editor v5.6.3](https://chrome.google.com/webstore/detail/sp-editor/ecblfcmjnbbgaojblcpmjoamegpbodhd)

[2020-12-03 07:36] #81 closed

[2020-12-18 13:05] Ofer-Gal opened #83 "Please upgrade PnPjs to V2.0.13"
I need to verify a change made in PnPjs V2.0.13
Please upgrade the extension.

Thanks in advance

[2020-12-22 20:54] tavikukko commented on #83
sorry, missed this! update done and now waiting google's approval.

[2020-12-23 11:57] tavikukko commented on #83
new version 5.6.4 released.

[2020-12-23 11:57] #83 closed

[2021-01-06 19:43] araver opened #85 "Error: Field or property "storageentitiesindex" does not exist."
I'm getting this error on "Modern Properties" tab in SharePoint online.  The property does exist on the webs property bag. See images.

![image](https://user-images.githubusercontent.com/31546277/103812984-912ec580-501c-11eb-9eb0-3847d42c461d.png)
![image](https://user-images.githubusercontent.com/31546277/103812994-955ae300-501c-11eb-8ab6-723f9156441f.png)

[2021-01-07 10:26] tavikukko commented on #85
Hi @araver
To use Modern Properties, you need to be in the admin site, eg. yourternant-admin.sharepoint.com

[2021-01-11 20:15] tavikukko commented on #85
closing, as no further question.

[2021-01-11 20:15] #85 closed

[2021-01-19 10:02] tavikukko opened #86 "issues with intelligence in pnpjs console"
working on it

[2021-02-02 12:47] tavikukko commented on #86
Fixed in released version 5.6.7

[2021-02-02 12:47] #86 closed

[2021-02-03 14:00] Gennady-G opened #87 "SP2019 on-prem, classic, $pnp.SPNS.Web is not a constructor"
Hi @tavikukko !

Looks like it basically works, but don't see green confirmation popup that file is saved/approved,

![0-2021-02-03_175553](https://user-images.githubusercontent.com/5569346/106757251-8ed68000-6649-11eb-810b-0c5dcf9a46b1.png)

and also sometimes get this error:

`VM10995:73 Uncaught (in promise) TypeError: $pnp.SPNS.Web is not a constructor`
![1-git-2021-02-03_175340](https://user-

[2021-02-03 15:51] tavikukko commented on #87
Could you test if this happens also in online, thanks. And thank you for reporting the issue👌

[2021-02-03 16:26] Gennady-G commented on #87
Hi!

Checked. Yes, same in Online.

![not-a-constructor-2021-02-03_202340](https://user-images.githubusercontent.com/5569346/106776861-e4b52300-665d-11eb-9249-164b1d3e6f62.png)

Site template is STS#0, classic

Best regards, Gennady

[2021-02-03 21:44] tavikukko commented on #87
Fixed, release waiting for Googles approval.

[2021-02-04 09:22] #87 closed

[2021-02-04 09:23] tavikukko commented on #87
Fix released in version 5.6.8. Thanks again @Gennady-G for ypur help 👍

[2021-02-04 17:26] Gennady-G commented on #87
Thank You too for great tool! :)

[2021-02-08 13:18] Gennady-G commented on #87
Now works, thank You much!)

Best regards, Gennady

[2021-03-04 16:14] Ofer-Gal opened #88 "How did you get to the MGT-React play ground"
I saw your great demo on PnP today.
you showed how to interact with MGT-react and your samples.
I have latest version but I don't see how to get there.

Thanks in advance.

Found it on the Edge extension.
Great tool thank you much

[2021-03-04 16:27] #88 closed

[2021-03-04 16:44] Ofer-Gal commented on #88
Now I have a real Issue :-)
When I change the clientId in the Msal Provider, it tells me I can only use Multi tenant. So I change my registered App to be Multi tenant.
Then next login it shows error:AADSTS50011: The reply URL specified in the request does not match the reply URLs configured for the application:{my application ID}
 I added the root of my SPO https://mycompny.sharepoint.com/ as Redi

[2021-03-04 19:34] AgileSpiff opened #89 "Page layout switcher doesn't initialize on some pages"
Follow up to a post I left on the Chrome Web Store (as Neil). To reiterate, I posted that the page layout switcher had stopped working for me. In a later post I mentioned that it worked when I tried it in a different SharePoint Online tenant, and I speculated that the first tenant's IT may have done something to break it.

Now I find that it works in the first tenant, too, just not on the page I n

[2021-03-09 06:25] tavikukko commented on #89
Hi and thank you for creating issue!
Is it so, that you do not even see that dropdown layout selector in the menu? Or when selecting the layout and saving does not have effect?

[2021-03-10 22:18] AgileSpiff commented on #89
Hello,

It's the first situation - the layout selector dropdown does not appear on the affected page:

![image](https://user-images.githubusercontent.com/35044051/110705477-4e6ba400-81ab-11eb-899e-620feca19568.png)

[2021-04-19 08:13] rockanand commented on #89
Hello,

I have created templates based out of Home page layout. ("Set-PnpListItem -Identity "Id" - Values @{"PageLayoutType"="Home"}.

User trying to create new modern page based out of this Home page template will have provision to key in PageName in the banner section for the very first time (which is expected). Once after page has been saved as draft/submit your banner section disappears (expec

[2021-04-26 07:25] tavikukko commented on #89
Can't repro this, can I get repro instructions, thanks! @AgileSpiff @rockanand

[2021-05-04 09:25] Gennady-G commented on #88
@Ofer-Gal can You please provide direct link or title of the video?

[2021-05-04 11:45] Ofer-Gal commented on #88
I really can't remember the exact demo but it is one of the PnP  https://www.youtube.com/playlist?list=PLR9nK3mnD-OWSbg0o9a7mx_E7s2u7h_o2

[2021-05-04 12:51] Gennady-G commented on #88
Ah, Ok! Thank You @Ofer-Gal, looks like I've  found it:
https://www.youtube.com/watch?v=2NuhuYyWNB0&list=PLR9nK3mnD-OWSbg0o9a7mx_E7s2u7h_o2&index=23

Best regards!

[2021-06-15 13:02] Gennady-G opened #92 "'Classic Admin Center' url update"
Hi @tavikukko !

This is not a bug a small change..

Classic Site collections page is now deprecated:

`https://server-admin.sharepoint.com/_layouts/15/online/SiteCollections.aspx`

now is:
`https://server-admin.sharepoint.com/_layouts/15/online/AdminHome.aspx#/siteManagement/view/CLASSIC%20SITES`

![1-2021-06-15_170215](https://user-images.githubusercontent.com/5569346/122057184-67fc3780-cdfb-11e

[2021-06-16 10:39] tavikukko commented on #92
Thanks @Gennady-G , will fix that!

[2021-06-18 10:55] alooft opened #93 "Search not showing result"
When performing a search using the SP Editor search tab, the search is executed correctly as seen from the Network log, but nothing is shown in the result page (not even an empty table).

This happens across multiple Chrome profiles, PCs and SharePoint tenants.

I can not see any info in the console.

[2021-06-21 12:29] tavikukko commented on #93
Thanks @alooft , I will have a look.

[2021-06-23 08:52] MarkusLanger commented on #93
The same behaviour in my case.

[2021-06-27 13:26] tavikukko commented on #93
Cannot repro this, can you please provide more information @alooft @MarkusLanger ?

[2021-06-28 07:09] MarkusLanger commented on #93
The problem does not exist in all tenants. I attached a video and the response of the the search request. I hope it helps.

https://user-images.githubusercontent.com/12131918/123594814-73366680-d7f0-11eb-935b-47a79f878d9e.mp4

[Response.txt](https://github.com/tavikukko/Chrome-SP-Editor/files/6724132/Response.txt)

[2021-06-28 07:48] tavikukko commented on #93
Thanks @MarkusLanger
Can you try the following: when SP Editor is open, right click it and Inspect. This will open the devtools of the editor. Now run the search again, you should see the error message in the devtoold of SP Editor. I would be interested to see the error message.

[2021-06-28 08:04] tavikukko commented on #93
Also interested the difference between tenants and the sitetype of the current page you have open when running the search and other tenant/site work and other not, thanks.

[2021-06-28 08:13] tavikukko commented on #93
ok, I found a tenant where I can repro this. Lets see whats the problem.

[2021-06-28 08:37] MarkusLanger commented on #93
I don't get an error in the console of the SP Editor devtools.

[2021-06-28 08:43] tavikukko commented on #93
I found the issue. Some tenant do not set **elapsedTime** property, always returns 0. For some reason I have used that property to check that the search was successful. Will fix this asap. Thanks @MarkusLanger for you help!

[2021-06-28 12:34] tavikukko commented on #92
This will be out when Google approves the latest version 5.6.10 , thanks for reporting!

[2021-06-28 12:35] tavikukko commented on #93
Fix will be out when Google approves the latest version 5.6.10 , thanks for your cooperation!

[2021-06-29 07:09] Gennady-G commented on #92
Thank You @tavikukko! :)

[2021-06-29 07:09] #92 closed

[2021-06-29 07:38] MarkusLanger commented on #93
Works fine. Thanks for the quick solution.
![image](https://user-images.githubusercontent.com/12131918/123756976-c6c2b600-d8bd-11eb-9a0e-9ab7b1f857b4.png)

[2021-06-29 08:18] #93 closed

[2021-08-31 11:44] tavikukko commented on #89
This is now fixed, will be part of version 5.6.13

[2021-08-31 11:44] #89 closed

[2021-10-04 07:18] sankarkumar23 opened #95 "Unable to load _spPageContextInfo in popup.html"
I am getting below error while loading pagecontentinfo in popup.html

![image](https://user-images.githubusercontent.com/12550023/135809117-9503dd34-1079-45c9-bc3d-2e1da498ddcb.png)

![image](https://user-images.githubusercontent.com/12550023/135809236-c9d77593-fed8-4406-a0f4-aee43650c571.png)

[2021-10-13 08:29] tavikukko commented on #95
@sankarkumar23 which page in SharePoint you got this?

[2021-10-13 09:55] sankarkumar23 commented on #95
Any SharePoint page. It never worked for me.. the popup.html is not showing the properties.
Looks like JSON.stringfy has circular references which is causing the issue.

![image](https://user-images.githubusercontent.com/12550023/137111047-4bc137ee-4556-4665-8163-bff5a7f00d18.png)

[2021-11-03 10:36] sankarkumar23 commented on #95
I noticed it was working fine for some site collections and not for some. It appears its not working for certain site templates.

[2021-11-03 13:04] tavikukko commented on #95
thanks @sankarkumar23 !
Could you try to check what type of SiteCollection is it? That would help me to discover the reason and provide a fix. Cheers!

[2021-11-18 10:02] Tanddant opened #97 "Missing from chrome webstore"
The extension seems to have been pulled from the chrome webstore, is this a known issue?

[2021-11-18 12:42] tavikukko commented on #97
Hi,
yes, I got email from the store, that in the description of the extension there is word "Updated" repeated too many times... so they removed it, amazing. I have removed the "illegal" words from the description and pushed it back, but need to wait Chrome Store to review it first.

[2021-11-23 11:05] tavikukko commented on #97
SP Editor approved and back in the store.

[2021-11-23 11:05] #97 closed

[2022-01-12 18:35] Gennady-G opened #98 "How can we use Modern Scriptlinks (not an issue but question)?"
Hi @tavikukko !

Occasionally noticed that Edge version has "Modern Scriptlink App", that installs *.sppkg in App Catalog.

How can I use it? What code should be in js file?

For example earlier CSR was registered like this (this is example of code generated by Cisar, https://github.com/andrei-markeev/cisar):

[code]
What type of js can we use in Modern Scriptlink? Maybe You have some example?

Be

[2022-01-12 20:38] tavikukko commented on #98
Hi @Gennady-G !

Just create javascript file and drop it to a folder in SP. Then inject that file using SP Editor's ScriptLinks functionality. Now, if you have installed the Modern ScriptLink App, the file you injected will be loaded when opening page in the injected files scope.

The source code of Modern ScriptLinks App can be found here [https://github.com/tavikukko/sp-scriptlinks](https://gith

[2022-01-13 12:50] Gennady-G commented on #98
So as I've understand - it is something like 'Dynamic Application Customizer', that can append different js files to page header

But what should be inside js file?

I tried to add App to site-collection, uploaded file with "console.log('Hi!')" but don't see if it is loaded..
Or I do something wrong..
My url is: `https://server.sharepoint.com/sites/dev/SiteAssets/scriptlink.js`

![11-2022-01-13_16

[2022-01-13 12:51] Gennady-G commented on #98
App is deployed successfully:

![app-2022-01-13_165237](https://user-images.githubusercontent.com/5569346/149333535-1a6de30d-3159-4266-a319-32875f41d3dc.jpg)

[2022-01-13 13:17] visma-tomi-tavela commented on #98
Ok, I need to check if that App still works as it should. But it just loads that file what you have injected and execute it, that's all. So the console.log just print something.

[2022-01-13 13:17] tavikukko commented on #98
Ok, I need to check if that App still works as it should. But it just loads that file what you have injected and execute it, that's all. So the console.log just print something.

[2022-01-13 13:21] Gennady-G commented on #98
Ah, ok! so I don't see it in Network tab.. But it prints nothing in console, too..

[2022-01-13 13:25] tavikukko commented on #98
Change the scope to sitecollection in the ScriptLink.

[2022-01-13 13:28] tavikukko commented on #98
Seems like the App only reads sitecollection links. But anyways, I don't think people should use sub webs with Modern SharePoint.

[2022-01-13 13:40] Gennady-G commented on #98
Wow!
Thank You much @tavikukko , as usual! :)
Now it works perfect!)

![hi-2022-01-13_174128](https://user-images.githubusercontent.com/5569346/149340680-fa8548d3-3ceb-46e1-969a-3465c523074d.jpg)

[2022-01-13 13:40] #98 closed

[2022-01-27 11:21] johannes-z opened #100 "PnPjs Console causes 'This extension may have been corrupted.' in MS Edge"
Either version (Chrome Extension and MS Edge Extension) causes a `This extension may have been corrupted.` error message for SP Editor in MS Edge. The extension is automatically disabled.
Chrome works fine.

Also, downloading the zip and manually adding it works.

[2022-01-28 09:32] tavikukko commented on #100
Hmm, interesting, I cannot make this happen. What is your OS and the version of Edge? Thanks for reporting!

[2022-01-28 10:57] johannes-z commented on #100
Microsoft Edge: Version 97.0.1072.69 (Official build) (64-bit)
OS: Windows 10 Enterprise 21H2; build 19044.1466
![image](https://user-images.githubusercontent.com/9069888/151535180-92e4c7d1-236d-48c3-abec-1dfbe860cb38.png)

It becomes *corrupted* as soon as I open the PnPjs Console

[2022-01-28 12:09] tavikukko commented on #100
What happens if you press Repair?

[2022-01-28 13:22] johannes-z commented on #100
It resets the extension to the original state, but opening the PnPjs Console causes it to become *corrupted* again :(

[2022-11-18 07:19] kasperbolarsen opened #103 "Enhancement request"
Hi Tomi, as an avid user of the SP Editor ( primarily the Search feature) I wonder if it is posible to include the LastCrawled data as seen using  eg Get-PnPSearchCrawlLog in the result set.

Love the extention :-)

[2022-11-18 10:31] tavikukko commented on #103
Hi @kasperbolarsen
And thanks for the idea, I will have a look!